@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Server.Pages.Concept
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using ThoughtDesign.WebLibrary
@using Microsoft.FSharp.Collections

<a href="concept?revision=@RevisionId">
  <HoverPreview Padding="0">
    <ResizingIframe Revision=@((RevisionId, Index)) Back />
  </HoverPreview>
  @if (ShowId) {
    @RevisionId
  }
</a>

@code {
  [Parameter] public Guid RevisionId { get; set; }
  [Parameter] public short Index { get; set; }
  [Parameter] public bool ShowId { get; set; } = true;

}
