@page "/concept/editexample/{ExampleId:guid}"
@page "/concept/copyleaf/{CopySourceLeafId:guid}"
@page "/concept/exampleconcept/{ExampleSourceConceptId:guid}"
@attribute [Authorize]
@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using Syncfusion.EJ2.Blazor
@using Syncfusion.EJ2.Blazor.RichTextEditor
@using Microsoft.FSharp.Collections
@inject IToastService ToastService
@inject DbExecutor DbExecutor

@if (_command == null) {
  <p><em>@LoadingMessage</em></p>
} else {
  <EditConceptDetail EditConcept=@_command />
}

@code {
  [CascadingParameter] Task<UserClaims> UserTask { get; set; }
  private UserClaims _user = UserClaims.init;
  [Parameter] public Guid ExampleId { get; set; }
  [Parameter] public Guid CopySourceLeafId { get; set; }
  [Parameter] public Guid ExampleSourceConceptId { get; set; }
  string LoadingMessage = "Loading...";
  ViewEditConceptCommand _command;

  private async Task _TrySetCommandAndCard(Task<FSharpResult<ViewEditConceptCommand, string>> result) {
    var x = await result;
    if (x.IsOk) {
      _command = x.ResultValue;
    } else {
      LoadingMessage = x.ErrorValue;
      ToastService.ShowError(x.ErrorValue);
    }
  }

  private Task<FSharpResult<ViewEditConceptCommand, string>> _GetCommandAndCard() {
    if (ExampleId != default) {
      return DbExecutor.QueryAsync(db => SanitizeConceptRepository.getUpsert(db, _user.Id, UpsertCardSource.NewVUpdate_ExampleId(ExampleId), new UpsertIds(Guid.Empty, Guid.Empty, Ulid.create, FSharpList<Guid>.Empty)));
    } else if (CopySourceLeafId != default) {
      return DbExecutor.QueryAsync(db => SanitizeConceptRepository.getUpsert(db, _user.Id, UpsertCardSource.NewVNewCopySource_LeafId(CopySourceLeafId), new UpsertIds(Ulid.create, Ulid.create, Ulid.create, FSharpList<Guid>.Empty)));
    } else if (ExampleSourceConceptId != default) {
      return DbExecutor.QueryAsync(db => SanitizeConceptRepository.getUpsert(db, _user.Id, UpsertCardSource.NewVNewExample_SourceConceptId(ExampleSourceConceptId), new UpsertIds(Guid.Empty, Ulid.create, Ulid.create, FSharpList<Guid>.Empty)));
    } else {
      return FSharpResult<ViewEditConceptCommand, string>.NewError("Invalid id provided.").Apply(Task.FromResult);
    }
  }

  public override async Task SetParametersAsync(ParameterView parameters) {
    await base.SetParametersAsync(parameters);
    _user = await UserTask;
    await _GetCommandAndCard().Apply(_TrySetCommandAndCard);
    StateHasChanged();
  }

}
