<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="True" />
  </solution>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageRestore>
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="Official source v3" value="https://api.nuget.org/v3/index.json" />
    <add key="Local" value=".\Packages"/>
  </packageSources>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
</configuration>