@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using Microsoft.FSharp.Collections
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using Syncfusion.EJ2.Blazor
@using Syncfusion.EJ2.Blazor.RichTextEditor
@inject IToastService ToastService
@inject DbExecutor DbExecutor

@if (Collates == null) {
  <p><em>Loading...</em></p>
} else {
  <EditForm Model=@EditStack OnValidSubmit=@UpdateCard @onkeydown=@OnKeyDown tabindex="0" style="outline: none;">
    <fieldset disabled=@_isDisabled>
      <div class="form-group">
        <div class="row">
          <div class="col-sm">
            @if (EditStack.Kind.IsNewBranch_SourceStackId_Title || EditStack.Kind.IsUpdate_BranchId_Title) {
              <div class="input-group">
                <label for="branchTitleInput" class="col-form-label mr-2">
                  Branch Title:
                </label>
                <InputText @bind-Value=@EditStack.Title class="form-control" id="branchTitleInput" />
              </div>
            }
            @foreach (var field in EditStack.FieldValues) {
              <EditStackField Field=@field ValueUpdated=@(x => field.Value = x) IsDisabled=@_isDisabled />
            }
          </div>
          <div class="col-sm">
            @*<div class="row">
              <a href="cardsetting" class="col-sm-2 mt-2">
                Card Setting
              </a>
              <div class="col-sm-10 px-0">
                <CardSettingSelector SettingSelected=_SetOption />
              </div>
            </div>*@
            <div class="row">
              <a href="Collate/@_selectedCollateId" class="col-sm-2 mt-2">
                Card Template
              </a>
              <select value=@_selectedCollateId class="form-control col-sm-10" @onchange=@(x => x.Value.ToString().Apply(int.Parse).Do(id => UpdateSelectedCollate(id)))>
                @foreach (var collate in Collates) {
                  <option value=@collate.Id>@collate.Editable.Name</option>
                }
              </select>
            </div>
            <div class="row">
              <a href="Collate/@_selectedCollateId?InstanceId=@_selectedCollateInstanceId" class="col-sm-2 mt-2" tabindex="-1">
                Revision
              </a>
              <select value=@_selectedCollateInstanceId class="form-control col-sm-10" @onchange=@(x => x.Value.ToString().Apply(int.Parse).Do(UpdateSelectedCollateInstance))>
                @foreach (var instance in _selectedCollateInstances) {
                  <option value=@instance.Id>@instance.Created - @instance.EditSummary</option>
                }
              </select>
            </div>
            @if (EditStack.Backs.IsOk) {
              @foreach (var back in EditStack.Backs.ResultValue) {
                <iframe sandbox="allow-scripts" srcdoc=@back style="height: 80vh; width: 100%; resize: vertical;"></iframe>
              }
            } else {
              <span>
                Error: @EditStack.Backs.ErrorValue
              </span>
            }
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          @if (EditStack.Kind.TryGetCopySourceInstanceId(out var instanceId)) {
            <span>Copied from</span>
            <a href="branchinstance/@instanceId">
              Card
            </a>
          }
          @if (EditStack.Kind.TryGetBranchSourceStackId(out var stackId)) {
            <span>Branched from</span>
            <a href="stack/@stackId">
              Stack
            </a>
          }
        </div>
        <div class="col-sm">
          <div class="row mx-1">
            <span class="btn-group w-100">
              <InputText @bind-Value=@EditStack.EditSummary class="form-control w-100" placeholder="Edit Summary" />
              <button type="button" class="btn btn-primary" @onclick=@UpdateCard>Save</button>
            </span>
          </div>
          <div class="row float-right">
            <DataAnnotationsValidator />
            <ValidationSummary />
            @if (_savedBranchId != default) {
              <span>
                Saved! Link to
                <a href="stack?branch=@_savedBranchId">
                  card.
                </a>
              </span>
            }
          </div>
        </div>
      </div>
    </fieldset>
  </EditForm>
}

@code {
  [Parameter] public ViewEditStackCommand EditStack { get; set; }
  [Parameter] public bool NewEditStackOnSave { get; set; }
  [Parameter] public List<ViewCollateWithAllInstances> Collates { get; set; }
  [CascadingParameter] Task<UserClaims> UserTask { get; set; }
  private UserClaims _user = UserClaims.init;
  private List<ViewCollateInstance> _selectedCollateInstances;
  private int _selectedCollateId;
  private int _selectedCollateInstanceId;
  private bool _isDisabled;
  private int _savedBranchId;

  public override async Task SetParametersAsync(ParameterView parameters) {
    await base.SetParametersAsync(parameters);
    _user = await UserTask;
    if (Collates == null) {
      Collates = await DbExecutor.QueryAsync(db => SanitizeCollate.GetMineWith(db, _user.Id, EditStack.CollateInstance.CollateId));
    }
    if (EditStack == null) {
      EditStack = new ViewEditStackCommand("Initial creation", new List<EditFieldAndValue>(), Collates.First().Instances.First(), UpsertKind.NewNewOriginal_TagIds(FSharpList<int>.Empty), null);
    }
    UpdateSelectedCollate(EditStack.CollateInstance.CollateId, EditStack.CollateInstance.Id);
    StateHasChanged();
  }

  //private void _SetOption(int newId) {
  //  EditStack.EditAcquiredCard.CardSettingId = newId;
  //}

  async Task UpdateCard() {
    _isDisabled = true;
    var result = await DbExecutor.QueryAsync(db => SanitizeStackRepository.Update(db, _user.Id, EditStack));
    if (result.IsOk) {
      ToastService.ShowInfo("Saved!");
      _savedBranchId = result.ResultValue;
      if (NewEditStackOnSave) {
        var fieldValues = EditStack.FieldValues.Select(x => new EditFieldAndValue(x.EditField, "")).ToList();
        EditStack = new ViewEditStackCommand(EditStack.EditSummary, fieldValues, EditStack.CollateInstance, UpsertKind.NewNewOriginal_TagIds(FSharpList<int>.Empty), null);
        UpdateSelectedCollate(EditStack.CollateInstance.CollateId, EditStack.CollateInstance.Id);
        _isDisabled = false;
      }
    } else {
      ToastService.ShowError(result.ErrorValue);
      _isDisabled = false;
    }
  }

  void UpdateSelectedCollate(int collateId, int? instanceId = null) {
    _selectedCollateId = collateId;
    _selectedCollateInstances = Collates.Single(t => t.Id == collateId).Instances;
    UpdateSelectedCollateInstance(instanceId ?? _selectedCollateInstances.First().Id);
  }

  void UpdateSelectedCollateInstance(int instanceId) {
    _selectedCollateInstanceId = instanceId;
    EditStack.CollateInstance = Collates.SelectMany(x => x.Instances).Single(x => x.Id == instanceId);
    var valuesByField = EditStack.FieldValues.ToDictionary(fv => fv.EditField.Name, fv => fv.Value);
    EditStack.FieldValues = EditStack.CollateInstance.Fields
      .Select(ViewFieldModule.copyTo)
      .Select(field =>
        (valuesByField.ContainsKey(field.Name)
          ? valuesByField[field.Name] ?? ""
          : "")
          .Apply(value =>
            new EditFieldAndValue(
              field,
              value ?? "")
      )).ToList();
  }

  Task OnKeyDown(Microsoft.AspNetCore.Components.Web.KeyboardEventArgs eventArgs) =>
    eventArgs.CtrlKey && eventArgs.Key == "Enter"
      ? UpdateCard()
      : Task.CompletedTask;

}
