@page "/stack/editbranch/{BranchId:int}"
@page "/stack/copyleaf/{CopySourceLeafId:int}"
@page "/stack/branchstack/{BranchSourceStackId:int}"
@attribute [Authorize]
@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using Syncfusion.EJ2.Blazor
@using Syncfusion.EJ2.Blazor.RichTextEditor
@inject IToastService ToastService
@inject DbExecutor DbExecutor

@if (_command == null) {
  <p><em>@LoadingMessage</em></p>
} else {
  <EditStackDetail EditStack=@_command />
}

@code {
  [Parameter] public Guid BranchId { get; set; }
  [Parameter] public Guid CopySourceLeafId { get; set; }
  [Parameter] public Guid BranchSourceStackId { get; set; }
  string LoadingMessage = "Loading...";
  ViewEditStackCommand _command;

  private async Task _TrySetCommandAndCard(Task<FSharpResult<ViewEditStackCommand, string>> result) {
    var x = await result;
    if (x.IsOk) {
      _command = x.ResultValue;
    } else {
      LoadingMessage = x.ErrorValue;
      ToastService.ShowError(x.ErrorValue);
    }
  }

  private Task<FSharpResult<ViewEditStackCommand, string>> _GetCommandAndCard() {
    if (BranchId != Guid.Empty) {
      return DbExecutor.QueryAsync(db => SanitizeStackRepository.getUpsert(db, UpsertCardSource.NewVUpdate_BranchId(BranchId), Api.UpsertIds.create)); // highTODO this only makes 1 card id
    } else if (CopySourceLeafId != Guid.Empty) {
      return DbExecutor.QueryAsync(db => SanitizeStackRepository.getUpsert(db, UpsertCardSource.NewVNewCopySource_LeafId(CopySourceLeafId), Api.UpsertIds.create)); // highTODO this only makes 1 card id
    } else if (BranchSourceStackId != Guid.Empty) {
      return DbExecutor.QueryAsync(db => SanitizeStackRepository.getUpsert(db, UpsertCardSource.NewVNewBranch_SourceStackId(BranchSourceStackId), Api.UpsertIds.create)); // highTODO this only makes 1 card id
    } else {
      return FSharpResult<ViewEditStackCommand, string>.NewError("0 is an invalid card.").Apply(Task.FromResult);
    }
  }

  public override async Task SetParametersAsync(ParameterView parameters) {
    await base.SetParametersAsync(parameters);
    await _GetCommandAndCard().Apply(_TrySetCommandAndCard);
    StateHasChanged();
  }

}
