@page "/my/template"
@page "/my/template/{TemplateId:guid}"
@attribute [Authorize]
@using Microsoft.AspNetCore.Mvc
@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using CardOverflow.Server.Data
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager NavigationManager
@inject IToastService ToastService
@inject DbExecutor DbExecutor
@inject Dexie Dexie
@inject IClock Clock

@if (_templates == null) {
  <p><em>"Loading..."</em></p>
} else {
  <div class="row">
    <div class="col-sm-10">
      <TemplateEditor Template=@_templates[_selectedIndex] />
    </div>
    <div class="col-sm-2 list-group">
      <h5 class="text-center">Card Templates</h5>
      <button type="button" class="btn btn-success mb-2" @onclick=@_Add>
        <span class="oi oi-plus"></span>
      </button>
      @foreach (var x in _templates.Select((t, i) => new { Template = t, Index = i })) {
        <button class="list-group-item list-group-item-action @(x.Index == _selectedIndex ? "active" : "")"
                @onclick=@(() => _selectedIndex = x.Index)>
          @x.Template.CurrentRevision.Name
        </button>
      }
    </div>
  </div>
}

@code {
  [Parameter] public Guid TemplateId { get; set; }
  [CascadingParameter] Task<Domain.Summary.User> UserTask { get; set; }
  private Domain.Summary.User _user = UserSummary.init;
  private List<Domain.Summary.Template> _templates;
  private int _selectedIndex;

  protected override async Task OnParametersSetAsync() {
    _user = await UserTask;
    if (UserSummary.isAuthed(_user)) {
      _templates = await _user.CollectedTemplates.Select(x => x.Item1).Pipe(Dexie.GetTemplate);
      _selectedIndex = (_templates.SingleOrDefault(x => x.Id == TemplateId) ?? _templates.First())
        .Apply(_templates.IndexOf);
    }
    StateHasChanged();
  }

  private void _Add() {
    var t = Domain.Template.initialize(Guid.NewGuid(), Guid.NewGuid(), Guid.NewGuid(), _user.Id, Clock.GetCurrentInstant());
    _templates = _templates.Prepend(t).ToList();
    _selectedIndex = _templates.IndexOf(t);
  }

}
