@page "/template"
@page "/template/{SelectedId:guid}"
@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@inject DbExecutor DbExecutor

<div class="d-flex justify-content-between align-items-center">
  <SearchBar SearchClicked="@SearchClicked" BackLink="/template/" CreateLink=@(x => $"/template/{x}") Ids=@_revisions?.Select(x => x.TemplateId.ToString())?.ToList() SelectedId=@SelectedId.ToString() />
</div>
@if (SelectedId == null) {
  @if (_revisions == null) {
    <p><em>Loading...</em></p>
  } else {
    <table class="table">
      <tr>
        <th></th>
        <th>Users</th>
        <th>Name</th>
      </tr>
      @foreach (var revision in _revisions) {
        <tr>
          <td>
            <HoverPreview IsCollected=@revision.IsCollected>
              <ResizingIframe TemplateRevisionId=@revision.Id Back />
            </HoverPreview>
          </td>
          <td>
            @revision.TemplateUsers
          </td>
          <td>
            <a href="/template/@revision.TemplateId">
              @revision.Name
            </a>
          </td>
        </tr>
      }
    </table>
  }
  <Pager Details=@_details PageChanged=@PageChanged />
} else {
  <TemplateEditor TemplateId=@SelectedId.Value />
}

@code {
  [Parameter] public Guid? SelectedId { get; set; }
  private IList<ViewSearchTemplateRevision> _revisions;
  private PagedListDetails _details;
  private SearchCommand _search = new SearchCommand { Query = "" };

  public override async Task SetParametersAsync(ParameterView parameters) {
    await base.SetParametersAsync(parameters);
    if (SelectedId == null && _revisions == null) {
      await PageChanged(1);
    }
    StateHasChanged();
  }

  async Task PageChanged(int pageNumber) {
    var pagedList = await DbExecutor.QueryAsync(db => SanitizeTemplate.Search(db, Guid.Empty, pageNumber, _search.Query));
    _details = pagedList.Details;
    _revisions = pagedList.Results.ToList();
  }

  Task SearchClicked(SearchCommand newSearch) {
    SelectedId = null;
    _search = newSearch;
    return PageChanged(1);
  }

}
