@page "/templaterevision/{Ordinal:guid}"
@attribute [Authorize]

@using Microsoft.AspNetCore.Mvc
@using Microsoft.FSharp.Collections
@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using CardOverflow.Server.Data
@using Microsoft.AspNetCore.WebUtilities
@using ThoughtDesign.WebLibrary
@inject NavigationManager NavigationManager
@inject IToastService ToastService
@inject DbExecutor DbExecutor
@inject TemplateAppender TemplateAppender
@inject Dexie Dexie
@inject UserProvider UserProvider

@if (Revision == null) {
  <p><em>@_loadingMessage</em></p>
} else {
  <div class="row">
    <div class="col-sm">
      <EditForm Model=@Revision OnValidSubmit=@Submit>
        <fieldset disabled=@IsDisabled>
          <div class="input-group">
            <label for="nameInput" class="col-form-label mr-2">
              Name:
            </label>
            <InputText id="nameInput" @bind-Value=@Revision.Name class="form-control mb-2" />
          </div>
          <div class="row">
            <div class="col-sm">
              <TemplateEditor_Type Revision=@Revision UpdateTemplateType=@(x => Revision.CardTemplates = x) />
              <table class="table-borderless my-3">
                <thead>
                  <tr>
                    <th>Field Name</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  @foreach (var (field, i) in Revision.Fields.Select((x, i) => (x, i))) {
                    <tr>
                      <td>
                        <InputText @bind-Value=@field.Name class="form-control" />
                        <ValidationMessage For=@(() => field.Name) />
                      </td>
                      <td>
                        <button type="button" class="btn" @onclick=@(() => DeleteField(i)) disabled=@IsDisabled>
                          <span class="oi oi-trash"></span>
                        </button>
                      </td>
                    </tr>
                  }
                  <tr>
                    <td></td>
                    <td></td>
                    <td>
                      <button type="button" class="btn btn-success" @onclick=AddField disabled=@IsDisabled>
                        <span class="oi oi-plus"></span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm">
              <h5 class="text-center">CSS</h5>
              <InputTextArea @bind-Value=@Revision.Css class="form-control code" rows="25" />
              <ValidationMessage For=@(() => Revision.Css) />
            </div>
          </div>
          <TemplateEditor_Templates Revision=@Revision IsDisabled=@IsDisabled UpdateTemplateType=@(x => Revision.CardTemplates = x) />
        </fieldset>
        <div class="mt-3">
          <div class="row">
            <div class="col"></div>
            <div class="col btn-group">
              @if (IsDisabled && Template != null) {
                <h5 class="mt-2 mr-2">Revision</h5>
                <select class="form-control" @onchange=@(x => x.Value.ToString().Apply(Int32.Parse).Apply(ordinal => Revision = Template.Revisions.Single(x => x.Ordinal == ordinal)))>
                  @foreach (var revision in Template.Revisions.OrderByDescending(x => x.Created)) {
                    <option value=@revision.Ordinal selected=@(Revision.Ordinal == revision.Ordinal)>
                      @revision.EditSummary - @revision.Created
                    </option>
                  }
                </select>
                <button class="btn btn-primary" type="button" disabled=@IsDisabled @onclick=@(() => { IsDisabled = false; Revision.EditSummary = ""; })>
                  Edit
                </button>
              } else {
                <InputText @bind-Value=@Revision.EditSummary class="form-control" placeholder="Edit Summary" disabled=@IsDisabled />
                <button type="submit" class="btn btn-primary" disabled=@IsDisabled>Save</button>
              }
            </div>
          </div>
          <div class="row">
            <DataAnnotationsValidator />
            <ValidationSummary />
          </div>
        </div>
      </EditForm>
    </div>
  </div>
}
@code {
  private Domain.Summary.User _user;
  [Parameter] public Guid TemplateId { get; set; }
  [Parameter] public int Ordinal { get; set; }
  [Parameter] public bool IsDisabled { get; set; } = true;
  [Parameter] public Domain.Summary.TemplateRevision Revision { get; set; }
  [Parameter] public Domain.Summary.Template Template { get; set; }
  private string _loadingMessage = "Loading...";

  private async Task _isChildComponent() {
    Template = (Template == null || (Template.Id != TemplateId && TemplateId != Guid.Empty))
      ? await Dexie.GetTemplate(TemplateId)
      : Template;
    Revision = Template.Revisions.SingleOrDefault(x => x.Ordinal == NavigationManager.GetQueryInt("Ordinal")) ?? Template.Revisions.First();
  }

  private async Task _isRevisionPage() {
    Revision = Template.Revisions.Single(x => x.Ordinal == Ordinal);
  }

  protected override async Task OnParametersSetAsync() {
    await base.OnParametersSetAsync();
    _user = await UserProvider.ForceSummary();
    await (Ordinal == default
      ? _isChildComponent()
      : _isRevisionPage());
    IsDisabled = Template.AuthorId != _user.Id;
  }

  async Task Submit() {
    IsDisabled = true;
    if (await TemplateAppender.Edit(Revision, Template.Id)) {
      ToastService.ShowSuccess("Saved!");
    } else {
      IsDisabled = false;
    }
  }

  void DeleteField(int ordinal) {
    Revision.Fields = CardOverflow.Pure.List.removeAt(ordinal, Revision.Fields);
  }

  void AddField() {
    Revision.Fields = Revision.Fields.Append(new Field {
      Name = "New Field",
      IsRightToLeft = false,
      IsSticky = false
    }).ToFList();
  }

}
