@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using CardOverflow.Server.Data
@inject TimeProvider Time
@inject DbExecutor DbExecutor
@inject IToastService ToastService

@if (UserSummary.isAuthed(_user)) {
  <li class="list-group-item border-0">
    @if (!isSaved) {
      <EditForm Model=@WriteComment OnValidSubmit=@SaveComment>
        <div class="form-group">
          <InputTextArea @bind-Value=@WriteComment.Text class="form-control" rows="3" placeholder="Use comments to suggest improvements or elicit discussion. Avoid comments like &quot;+1&quot; or &quot;Thanks&quot;." /> @*this seems to break validation: @bind-Value:event="oninput"*@
          <button type="submit" class="btn btn-primary float-right">
            Add Comment
          </button>
        </div>
        <DataAnnotationsValidator />
        <ValidationSummary />
      </EditForm>
    }
  </li>
}

@code {
  [CascadingParameter] Task<Domain.User.Events.Summary> UserTask { get; set; }
  private Domain.User.Events.Summary _user = UserSummary.init;
  [Parameter] public Guid ConceptId { get; set; }
  [Parameter] public EventCallback<string> AddComment { get; set; }
  CommentText WriteComment = new CommentText();
  bool isSaved;

  public override async Task SetParametersAsync(ParameterView parameters) {
    await base.SetParametersAsync(parameters);
    _user = await UserTask;
    StateHasChanged();
  }

  async Task SaveComment() {
    var x = await DbExecutor.QueryAsync(db => SanitizeCommentRepository.AddAndSaveAsync(db, WriteComment.Text, ConceptId, _user.Id));
    if (x.IsOk) {
      isSaved = true;
      await AddComment.InvokeAsync(WriteComment.Text);
    } else {
      ToastService.ShowError(x.ErrorValue);
    }
  }

}
