@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using CardOverflow.Server.Data
@inject TimeProvider Time
@inject DbExecutor DbExecutor
@inject IToastService ToastService

@if (User != null) {
  <li class="list-group-item border-0">
    @if (!isSaved) {
      <EditForm Model=@WriteComment OnValidSubmit=@SaveComment>
        <div class="form-group">
          <InputTextArea @bind-Value=@WriteComment.Text class="form-control" rows="3" placeholder="Use comments to suggest improvements or elicit discussion. Avoid comments like &quot;+1&quot; or &quot;Thanks&quot;." /> @*this seems to break validation: @bind-Value:event="oninput"*@
          <button type="submit" class="btn btn-primary float-right">
            Add Comment
          </button>
        </div>
        <DataAnnotationsValidator />
        <ValidationSummary />
      </EditForm>
    }
  </li>
}

@code {
  [CascadingParameter] UserEntity User { get; set; }
  [Parameter] public int CardId { get; set; }
  [Parameter] public EventCallback<string> AddComment { get; set; }
  CommentText WriteComment = new CommentText();
  bool isSaved;

  async Task SaveComment() {
    var x = await DbExecutor.QueryAsync(db => SanitizeCommentRepository.AddAndSaveAsync(db, Time, WriteComment.Text, CardId, User.Id));
    if (x.IsOk) {
      isSaved = true;
      await AddComment.InvokeAsync(WriteComment.Text);
    } else {
      ToastService.ShowError(x.ErrorValue);
    }
  }

}
