@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using CardOverflow.Server.Data
@inject CardOverflowDb Db
@inject TimeProvider Time

@if (User != null) {
  <li>
    @if (isSaved) {
      <p>@User.DisplayName : @WriteComment.Text</p>
    } else {
      <EditForm Model="@WriteComment" OnValidSubmit=@SaveComment>
        <div class="form-group">
          <InputText @bind-value="@WriteComment.Text" /> @*this seems to break validation: @bind-value:event="oninput"*@
          <button type="submit" class="btn btn-primary">Save</button>
          <DataAnnotationsValidator />
          <ValidationSummary />
        </div>
      </EditForm>
    }
  </li>
}

@code {
  [CascadingParameter]
  UserEntity User { get; set; }
  [Parameter]
  int FacetId { get; set; }
  CommentText WriteComment = new CommentText();
  bool isSaved;

  async Task SaveComment() {
    await SanitizeCommentRepository.AddAndSaveAsync(Db, Time, WriteComment, FacetId, User.Email);
    isSaved = true;
  }

}
