@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using CardOverflow.Server.Data
@inject TimeProvider TimeProvider
@inject DbExecutor DbExecutor
@inject IToastService ToastService

<span class="@(_delta >= Duration.Zero ? "" : "text-danger" )">
  @(ViewLogic.toString(_delta))
</span>

@code {
  [Parameter] public Instant DueDate { get; set; }
  private Duration _delta => DueDate - TimeProvider.utcNow;
}
