@inherits LayoutComponentBase

<div class="sidebar">
  <NavMenu />
</div>

<div class="main">
  @* Keep this div to make the Study page look ok. *@
  <div class="content px-4">
    @Body
  </div>
</div>
