@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Api
@using CardOverflow.Pure
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject CardOverflowDb Db
@inject UrlProvider UrlProvider

<CascadingValue Value=@User>
  <BlazoredToasts Timeout="10" />
  <div class="sidebar">
    <NavMenu />
  </div>

  <div class="main">
    @* Keep this div to make the Study page look ok. *@
    <div class="content px-4">
      @Body
      <FeedbackPopup />
    </div>
  </div>
</CascadingValue>

@code {
  UserEntity User; // medTODO make business object

  protected override async Task OnInitializedAsync() {
    var userId =
      (await AuthenticationStateProvider.GetAuthenticationStateAsync())
      .User
      .Claims
      .SingleOrDefault(x =>
        x.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier" &&
        x.OriginalIssuer == UrlProvider.IdentityProvider.TrimEnd('/') &&
        x.Issuer == UrlProvider.IdentityProvider.TrimEnd('/')
      )?.Value.Apply(int.Parse);
    User =
      userId == null
      ? null
      : await UserRepository.Get(Db, userId.Value); ;
  }

}
