@using ThoughtDesign.WebLibrary
@using System.Security.Claims
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Api
@using CardOverflow.Pure
@using CardOverflow.Sanitation
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject DbExecutor DbExecutor
@inject UrlProvider UrlProvider
@inject NoCQS.User NoCqsUser
@inject MetaFactory MetaFactory
@inject IToastService ToastService

<BlazoredToasts Timeout="10" />
<div class="page">
  <div class="sidebar">
    <NavMenu />
  </div>

  <div class="main">
    @* Keep this div to make the Study page look ok. *@
    <div class="top-row px-4 auth">
      <LoginDisplay />
    </div>

    <div class="content px-4">
      @Body
      <FeedbackPopup />
    </div>
  </div>
</div>
