@using CardOverflow.Entity
@using ThoughtDesign.WebLibrary
@inject UrlProvider UrlProvider

<div class="top-row pl-4 navbar navbar-dark">
  <a class="navbar-brand" href="">Buff Brains</a>
  <button class="navbar-toggler" @onclick=_ToggleNavMenu>
    <span class="navbar-toggler-icon"></span>
  </button>
</div>

<div class=@(_collapseNavMenu ? "collapse" : "") @onclick=_ToggleNavMenu>
  <ul class="nav flex-column">
    <li class="nav-item sidebarnav-item px-3">
      <NavLink class="nav-link" Match="NavLinkMatch.All" href="">
        <span class="oi oi-home" aria-hidden="true"></span> Home
      </NavLink>
    </li>
    <li class="nav-item sidebarnav-item px-3">
      <NavLink class="nav-link" Match="NavLinkMatch.All" href="explore">
        <span class="oi oi-compass" aria-hidden="true"></span> Explore
      </NavLink>
    </li>
    <AuthorizeView>
      <Authorized>
        <li class="nav-item sidebarnav-item px-3">
          <NavLink class="nav-link" Match="NavLinkMatch.All" href="curate">
            <span class="oi oi-list" aria-hidden="true"></span> Curate
          </NavLink>
        </li>
        <li class="nav-item sidebarnav-item px-3">
          <NavLink class="nav-link" Match="NavLinkMatch.All" href="curate/card/create">
            <span class="oi oi-document" aria-hidden="true"></span> Create Card
          </NavLink>
        </li>
        <li class="nav-item sidebarnav-item px-3">
          <NavLink class="nav-link" Match="NavLinkMatch.All" href="template">
            <i class="fas fa-stamp mr-3" aria-hidden="true"></i> Explore Templates
          </NavLink>
        </li>
        <li class="nav-item sidebarnav-item px-3">
          <NavLink class="nav-link" Match="NavLinkMatch.All" href="template/curate">
            <i class="fas fa-stamp mr-3" aria-hidden="true"></i> Curate Templates
          </NavLink>
        </li>
        <li class="nav-item sidebarnav-item px-3">
          <NavLink class="nav-link" Match="NavLinkMatch.All" href="study">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Study
          </NavLink>
        </li>
        <li class="nav-item sidebarnav-item px-3">
          <NavLink class="nav-link" Match="NavLinkMatch.All" href="cardsetting">
            <span class="oi oi-cog" aria-hidden="true"></span> Card Settings
          </NavLink>
        </li>
        <li class="nav-item sidebarnav-item px-3">
          <NavLink class="nav-link" Match="NavLinkMatch.All" href="import">
            <span class="oi oi-cloud-upload" aria-hidden="true"></span> Import
          </NavLink>
        </li>
        <li class="nav-item sidebarnav-item px-3">
          <NavLink class="nav-link" Match="NavLinkMatch.All" href=@(UrlProvider.IdentityProvider + "identity/account/manage")>
            <span class="oi oi-person" aria-hidden="true"></span> Hi @User?.DisplayName!
          </NavLink>
        </li>
        <li class="nav-item sidebarnav-item px-3">
          <NavLink class="nav-link" Match="NavLinkMatch.All" href="logout">
            <span class="oi oi-account-logout" aria-hidden="true"></span> Log out
          </NavLink>
        </li>
      </Authorized>
      <NotAuthorized>
        <li class="nav-item sidebarnav-item px-3">
          <NavLink class="nav-link" Match="NavLinkMatch.All" href="@(UrlProvider.IdentityProvider + "identity/account/register")">
            <span class="oi oi-star" aria-hidden="true"></span> Register
          </NavLink>
        </li>
        <li class="nav-item sidebarnav-item px-3">
          <NavLink class="nav-link" Match="NavLinkMatch.All" href="login">
            <span class="oi oi-account-login" aria-hidden="true"></span> Log in
          </NavLink>
        </li>
      </NotAuthorized>
    </AuthorizeView>
  </ul>
</div>

@code {
  [CascadingParameter] UserEntity User { get; set; }
  private bool _collapseNavMenu = true;

  private void _ToggleNavMenu() =>
    _collapseNavMenu = !_collapseNavMenu;
  
}
