@using CardOverflow.Entity

<div class="top-row pl-4 navbar navbar-dark">
  <a class="navbar-brand" href="">Buff Brains</a>
  <button class="navbar-toggler" @onclick=ToggleNavMenu>
    <span class="navbar-toggler-icon"></span>
  </button>
</div>

<div class=@NavMenuCssClass @onclick=ToggleNavMenu>
  <ul class="nav flex-column">
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> Home
      </NavLink>
    </li>
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="explore">
        <span class="oi oi-compass" aria-hidden="true"></span> Explore
      </NavLink>
    </li>
    <AuthorizeView>
      <Authorized>
        <li class="nav-item px-3">
          <NavLink class="nav-link" href="curate">
            <span class="oi oi-list" aria-hidden="true"></span> Curate
          </NavLink>
        </li>
        <li class="nav-item px-3">
          <NavLink class="nav-link" href="curate/card/create">
            <span class="oi oi-document" aria-hidden="true"></span> Create Card
          </NavLink>
        </li>
        <li class="nav-item px-3">
          <NavLink class="nav-link" href="template/curate">
            <i class="fas fa-stamp mr-3" aria-hidden="true"></i> Curate Templates
          </NavLink>
        </li>
        <li class="nav-item px-3">
          <NavLink class="nav-link" href="study">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Study
          </NavLink>
        </li>
        <li class="nav-item px-3">
          <NavLink class="nav-link" href="cardoption">
            <span class="oi oi-cog" aria-hidden="true"></span> Card Options
          </NavLink>
        </li>
        <li class="nav-item px-3">
          <NavLink class="nav-link" href="import">
            <span class="oi oi-cloud-upload" aria-hidden="true"></span> Import
          </NavLink>
        </li>
        <li class="nav-item px-3">
          <NavLink class="nav-link" href="Identity/Account/Manage">
            <span class="oi oi-person" aria-hidden="true"></span> Hi @User?.DisplayName!
          </NavLink>
        </li>
        <li class="nav-item px-3">
          <NavLink class="nav-link" href="Identity/Account/LogOut">
            <span class="oi oi-account-logout" aria-hidden="true"></span> Log out
          </NavLink>
        </li>
      </Authorized>
      <NotAuthorized>
        <li class="nav-item px-3">
          <NavLink class="nav-link" href="Identity/Account/Register">
            <span class="oi oi-star" aria-hidden="true"></span> Register
          </NavLink>
        </li>
        <li class="nav-item px-3">
          <NavLink class="nav-link" href="Identity/Account/Login">
            <span class="oi oi-account-login" aria-hidden="true"></span> Log in
          </NavLink>
        </li>
      </NotAuthorized>
    </AuthorizeView>
  </ul>
</div>

@code {
  [CascadingParameter]
  UserEntity User { get; set; }
  bool collapseNavMenu = true;

  string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

  void ToggleNavMenu() {
    collapseNavMenu = !collapseNavMenu;
  }
}
