@page "{*clientPath}"
@using Microsoft.AspNetCore.Mvc.ViewFeatures
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CardOverflow.Web</title>
  <base href="~/" />
  <environment include="Development">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <script>
      var wait = ms => new Promise((r, j) => setTimeout(r, ms)); // Inspired by https://github.com/martasp/BlazorLiveReload
      var failed = false;
      async function fetchAsync() {
        try {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function () {
            if (this.status === 200 && failed) { // connected and previously failed
              location.reload();
            } else if (this.status === 0 && this.readyState === 4) { // connection broken
              failed = true;
            }
          };
          xhttp.open("GET", "/", true);
          xhttp.send();
        }
        catch (e) {
          failed = true;
          await wait(200);
          console.log("failed " + e);
        }
      }
      async function Pooling() {
        while (true) {
          fetchAsync();
          await wait(200);
        }
      }
      Pooling();
    </script>
  </environment>
  <environment exclude="Development">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          asp-fallback-href="css/bootstrap/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
          crossorigin="anonymous"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
  </environment>
  <link href="css/site.css" rel="stylesheet" />
  <script language="JavaScript">
    function StartWebCam() { // https://simpl.info/getusermedia/sources/ , https://www.html5rocks.com/en/tutorials/getusermedia/intro/ , for snapshot: https://www.c-sharpcorner.com/article/capturing-image-from-web-cam-in-asp-net-core-mvc/
      var videoElement = document.querySelector('video');
      var audioSelect = document.querySelector('select#audioSource');
      var videoSelect = document.querySelector('select#videoSource');

      navigator.mediaDevices.enumerateDevices()
        .then(gotDevices).then(getStream).catch(handleError);

      audioSelect.onchange = getStream;
      videoSelect.onchange = getStream;

      function gotDevices(deviceInfos) {
        for (var i = 0; i !== deviceInfos.length; ++i) {
          var deviceInfo = deviceInfos[i];
          var option = document.createElement('option');
          option.value = deviceInfo.deviceId;
          if (deviceInfo.kind === 'audioinput') {
            option.text = deviceInfo.label ||
              'microphone ' + (audioSelect.length + 1);
            audioSelect.appendChild(option);
          } else if (deviceInfo.kind === 'videoinput') {
            option.text = deviceInfo.label || 'camera ' +
              (videoSelect.length + 1);
            videoSelect.appendChild(option);
          } else {
            console.log('Found one other kind of source/device: ', deviceInfo);
          }
        }
      }

      function getStream() {
        if (window.stream) {
          window.stream.getTracks().forEach(function (track) {
            track.stop();
          });
        }

        var constraints = {
          audio: {
            deviceId: { exact: audioSelect.value }
          },
          video: {
            deviceId: { exact: videoSelect.value }
          }
        };

        navigator.mediaDevices.getUserMedia(constraints).
          then(gotStream).catch(handleError);
      }

      function gotStream(stream) {
        window.stream = stream; // make stream available to console
        videoElement.srcObject = stream;
      }

      function handleError(error) {
        console.log('Error: ', error);
      }
    }
  </script>
</head>
<body>
  <app>@(await Html.RenderComponentAsync<App>())</app>

  <script src="_framework/components.server.js"></script>
</body>
</html>
