@page "/CreateCard"
@using CardOverflow.Api
@inject CardRepository CardRepository

<input type="text" bind-value-oninput="@Question" placeholder="Question" />
<input type="text" bind-value-oninput="@Answer" placeholder="Answer" />
<button class="btn btn-primary" onclick="@Save">Save</button>

@functions {
  string Question = "";
  string Answer = "";

  void Save() {
    CardRepository.SaveCard(Question, Answer);
    Question = "";
    Answer = "";
    // TODO: Set focus back on Question https://devblogs.microsoft.com/aspnet/blazor-0-3-0-experimental-release-now-available/
  }

}
