@page "/Webcam"
@inject IJSRuntime JsRuntime

<h1>Webcam</h1>
<div class="camera">
  <video id="video">Video stream not available.</video>
  <button id="startbutton">Take photo</button>
</div>
<div>
  <p>Canvas</p>
  <button id="rasterizebutton">Rasterize</button>
  <canvas id="canvas"></canvas>
</div>
<div class="output">
  <p>Img</p>
  <img id="photo">
</div>

@functions {

  protected override async Task OnAfterRenderAsync() => // todo: https://github.com/aspnet/AspNetCore/issues/8327
    await JsRuntime.InvokeAsync<object>("StartWebCam");

}
