@page "/Webcam"
@inject IJSRuntime JsRuntime

<h1>Webcam</h1>
<div class="select">
  <label for="audioSource">Audio source: </label><select id="audioSource"></select>
</div>
<div class="select">
  <label for="videoSource">Video source: </label><select id="videoSource"></select>
</div>
<video autoplay></video>

<button onclick="@StartWebcam">Start Webcam</button>

@functions {
  string Message = "";

  private async Task StartWebcam() {
    await JsRuntime.InvokeAsync<object>("StartWebCam");
  }

}
