@page "/deck"
@attribute [Authorize]
@using static FSharpx.FSharpOption;
@using Microsoft.FSharp.Core
@using Microsoft.FSharp.Collections
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using CardOverflow.Server.Shared
@inject DbExecutor DbExecutor
@inject Scheduler Scheduler
@inject TimeProvider TimeProvider
@inject IJSRuntime Js
@inject IToastService ToastService

<div class="container">
  <table class="table">
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th>
        <button type="button" class="btn btn-outline-success" @onclick=@(() =>_ShowModal(new IdName(default, "New Deck")))>
          <i class="fas fa-plus"></i>
        </button>
      </th>
    </tr>
    @foreach (var deck in _decks) {
      <tr>
        <td>
          @deck.Name
          <button type="button" class="btn bg-transparent" @onclick=@(() => _ShowModal(new IdName(deck.Id, deck.Name)))>
            <span class="oi oi-pencil"></span>
          </button>
        </td>
        <DeckRow Deck=deck
                 SetIsDefault=@(() => {
                                  foreach (var d in _decks) {
                                    d.IsDefault = d.Id == deck.Id;
                                  }
                                })
                 SetPublic=@(x => _decks.Single(x => x.Id == deck.Id).IsPublic = x)
                 Delete=@(modal => _DeleteDeck(deck.Id, modal)) />
      </tr>
    }
  </table>
</div>

<BSModal @ref=_CreateOrRenameModal>
  <EditForm Model=_activeDeck OnValidSubmit=@_Submit>
    <BSModalHeader OnClick=_CreateOrRenameModal.Hide>
      @if (_activeDeck.Id == default) {
        <span>Create Deck</span>
      } else {
        <span>Rename Deck</span>
      }
    </BSModalHeader>
    <BSModalBody>
      <div class="form-group">
        <label for="newDeckNameInput">Name</label>
        <InputText @bind-Value=_activeDeck.Name class="form-control" id="newDeckNameInput" /> @*this seems to break validation: @bind-Value:event="oninput"*@
        <ValidationMessage For=@(() => _activeDeck.Name) />
      </div>
      <DataAnnotationsValidator />
    </BSModalBody>
    <BSModalFooter>
      <BSButton Color="Color.Secondary" OnClick=@_CreateOrRenameModal.Hide type="button">
        Cancel
      </BSButton>
      <BSButton Color="Color.Primary" type="submit">
        Save
      </BSButton>
    </BSModalFooter>
  </EditForm>
</BSModal>

@code {
  [CascadingParameter] Task<UserClaims> UserTask { get; set; }
  private UserClaims _user;
  private FSharpList<ViewDeck> _decks = FSharpList<ViewDeck>.Empty;
  private BSModal _CreateOrRenameModal;
  private IdName _activeDeck = new IdName(default, "New Deck");

  private void _ShowModal(IdName idName) {
    _activeDeck = idName;
    _CreateOrRenameModal.Show();
  }

  protected override async Task OnInitializedAsync() => _user = await UserTask;

  protected override async Task OnParametersSetAsync() =>
    _decks = await DbExecutor.QueryAsync(db => SanitizeDeckRepository.get(db, _user.Id, TimeProvider.utcNow));

  private async Task _DeleteDeck(int deckId, BSModal modal) =>
    await DbExecutor.QueryAsync(db => SanitizeDeckRepository.delete(db, _user.Id, deckId)).Match(ToastService, _ => {
      _decks = _decks.Where(x => x.Id != deckId).ToFList();
      modal.Hide();
    });

  private async Task _Create() =>
    await DbExecutor.QueryAsync(db => SanitizeDeckRepository.create(db, _user.Id, _activeDeck.Name)).Match(ToastService, newId => {
      _decks = _decks.ToList().Append(new ViewDeck(newId, false, false, _activeDeck.Name, 0, 0, FSharpOption<IdName>.None)).ToFList();
      _CreateOrRenameModal.Hide();
    });

  private async Task _Submit() =>
    await (_activeDeck.Id == default
      ? _Create()
      : _Rename());

  private async Task _Rename() =>
    await DbExecutor.QueryAsync(db => SanitizeDeckRepository.rename(db, _user.Id, _activeDeck.Id, _activeDeck.Name)).Match(ToastService, _ => {
      _decks.Single(x => x.Id == _activeDeck.Id).Name = _activeDeck.Name;
      _CreateOrRenameModal.Hide();
    });

}
