@page "/my/gromplate"
@page "/my/gromplate/{GromplateId:int}"
@attribute [Authorize]
@using Microsoft.AspNetCore.Mvc
@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using CardOverflow.Server.Data
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager NavigationManager
@inject IToastService ToastService
@inject DbExecutor DbExecutor

@if (_gromplates == null) {
  <p><em>"Loading..."</em></p>
} else {
  <div class="row">
    <div class="col-sm-10">
      <GromplateEditor Gromplate=@_gromplates[_selectedIndex] />
    </div>
    <div class="col-sm-2 list-group">
      <h5 class="text-center">Card Templates</h5>
      <button type="button" class="btn btn-success mb-2" @onclick=@_Add>
        <span class="oi oi-plus"></span>
      </button>
      @foreach (var x in _gromplates.Select((t, i) => new { Gromplate = t, Index = i })) {
        <button class="list-group-item list-group-item-action @(x.Index == _selectedIndex ? "active" : "")"
                @onclick=@(() => _selectedIndex = x.Index)>
          @x.Gromplate.Editable.Name
        </button>
      }
    </div>
  </div>
}

@code {
  [Parameter] public int GromplateId { get; set; }
  [CascadingParameter] Task<UserClaims> UserTask { get; set; }
  private UserClaims _user = UserClaims.init;
  private List<ViewGromplateWithAllInstances> _gromplates;
  private int _selectedIndex;

  protected override async Task OnParametersSetAsync() {
    _user = await UserTask;
    if (_user.IsAuthenticated) {
      _gromplates = await DbExecutor.QueryAsync(db => SanitizeGromplate.GetMine(db, _user.Id));
      _selectedIndex = (_gromplates.SingleOrDefault(x => x.Id == GromplateId) ?? _gromplates.First())
        .Apply(_gromplates.IndexOf);
    }
  }

  private void _Add() {
    var t = ViewGromplateWithAllInstances.initialize(_user.Id);
    _gromplates = _gromplates.Prepend(t).ToList();
    _selectedIndex = _gromplates.IndexOf(t);
  }

}
