@page "/gromplate"
@page "/gromplate/{SelectedId:int}"
@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@inject DbExecutor DbExecutor

<div class="d-flex justify-content-between align-items-center">
  <SearchBar SearchClicked="@SearchClicked" BackLink="/gromplate/" CreateLink=@(x => $"/gromplate/{x}") Ids=@_leafs?.Select(x => x.GromplateId.ToString())?.ToList() SelectedId=@SelectedId.ToString() />
</div>
@if (SelectedId == null) {
  @if (_leafs == null) {
    <p><em>Loading...</em></p>
  } else {
    <table class="table">
      <tr>
        <th></th>
        <th>Users</th>
        <th>Name</th>
      </tr>
      @foreach (var leaf in _leafs) {
        <tr>
          <td>
            <HoverPreview IsCollected=@leaf.IsCollected>
              <ResizingIframe GrompleafId=@leaf.Id Back />
            </HoverPreview>
          </td>
          <td>
            @leaf.GromplateUsers
          </td>
          <td>
            <a href="/gromplate/@leaf.GromplateId">
              @leaf.Name
            </a>
          </td>
        </tr>
      }
    </table>
  }
  <Pager Details=@_details PageChanged=@PageChanged />
} else {
  <GromplateEditor GromplateId=@SelectedId.Value />
}

@code {
  [CascadingParameter] Task<UserClaims> UserTask { get; set; }
  private UserClaims _user = UserClaims.init;
  [Parameter] public int? SelectedId { get; set; }
  private IList<ViewSearchGrompleaf> _leafs;
  private PagedListDetails _details;
  private SearchCommand _search = new SearchCommand { Query = "" };

  public override async Task SetParametersAsync(ParameterView parameters) {
    await base.SetParametersAsync(parameters);
    _user = await UserTask;
    if (SelectedId == null && _leafs == null) {
      await PageChanged(1);
    }
    StateHasChanged();
  }

  async Task PageChanged(int pageNumber) {
    var pagedList = await DbExecutor.QueryAsync(db => SanitizeGromplate.Search(db, _user.Id, pageNumber, _search.Query));
    _details = pagedList.Details;
    _leafs = pagedList.Results.ToList();
  }

  Task SearchClicked(SearchCommand newSearch) {
    SelectedId = null;
    _search = newSearch;
    return PageChanged(1);
  }

}
