@using System.Linq
@using Microsoft.FSharp.Core
@using Microsoft.FSharp.Collections
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using CardOverflow.Server.Data
@inject DbExecutor DbExecutor
@inject IToastService ToastService
@inject UserContentHttpClient UserContentHttpClient
@inject TimeProvider TimeProvider

@if (IsStack) {
  @if (AcquiredIds == null) {
    <AcquireToggles_Button Css="btn-acquire-card"
                           OnClick=@_Acquire
                           BranchUsers=@BranchUsers />

  } else {
    <AcquireToggles_Button Css="btn-unacquire-card"
                           OnClick=@(() => _modal.Show())
                           BranchUsers=@(BranchUsers + 1) />
  }
} else {
  @if (AcquiredIds?.Value?.BranchInstanceId == Ids.BranchInstanceId) {
    <AcquireToggles_Button Css="btn-unacquire-card"
                           OnClick=@(() => _modal.Show())
                           BranchUsers=@(BranchUsers + 1)
                           InstanceUsers=@(InstanceUsers + 1) />
  } else {
    @if (AcquiredIds?.Value?.BranchId == Ids.BranchId && IsBranch) {
      <AcquireToggles_Button Css="btn-acquire-card btn-success btn-striped"
                             OnClick=@_Acquire
                             BranchUsers=@(BranchUsers + 1)
                             InstanceUsers=@InstanceUsers />

    } else {
      <AcquireToggles_Button Css="btn-acquire-card"
                             OnClick=@_Acquire
                             BranchUsers=@BranchUsers
                             InstanceUsers=@InstanceUsers />
    }
  }
}

<BSModal @ref=_modal>
  <BSModalHeader>
    Are you sure you want to discard?
  </BSModalHeader>
  <BSModalBody>
    <div>
      Discarding a card will delete all of its associated Tags and Relationships. However, its History will be maintained. Are you sure you want to discard?
    </div>
    <div class="small">
      <em>Suspending will preserve the above data and prevent the card from appearing when you Study.</em>
    </div>
  </BSModalBody>
  <BSModalFooter>
    <div>
      <BSButton Color="Color.Secondary" OnClick=_modal.Hide type="button">
        Cancel
      </BSButton>
      <BSButton Color="Color.Danger" @onclick=@_Discard>
        Discard
      </BSButton>
    </div>
  </BSModalFooter>
</BSModal>

@code {
  [CascadingParameter] Task<UserClaims> UserTask { get; set; }
  private UserClaims _user = UserClaims.init;
  [Parameter] public FSharpOption<StackBranchInstanceIds> AcquiredIds { get; set; }
  [Parameter] public EventCallback<FSharpOption<StackBranchInstanceIds>> UpdateAcquiredIds { get; set; } = new EventCallback<FSharpOption<StackBranchInstanceIds>>();
  [Parameter] public StackBranchInstanceIds Ids { get; set; }
  [Parameter] public EventCallback<List<AcquiredCard>> UpdateAcquiredCards { get; set; } = new EventCallback<List<AcquiredCard>>();

  [Parameter] public int? BranchUsers { get; set; }
  [Parameter] public int? InstanceUsers { get; set; }
  [Parameter] public bool IsBranch { get; set; }
  [Parameter] public bool IsStack { get; set; }
  [Parameter] public FSharpOption<int> DeckId { get; set; } = FSharpOption<int>.None;
  private BSModal _modal;

  public override async Task SetParametersAsync(ParameterView parameters) {
    await base.SetParametersAsync(parameters);
    _user = await UserTask;
    StateHasChanged();
  }

  private Task _Acquire() {
    if (_user.Id == 0) {
      ToastService.ShowError("You need to log in to collect this card.");
      return Task.CompletedTask;
    } else {
      return DbExecutor.QueryAsync(db => StackRepository.collect(db, _user.Id, Ids.BranchInstanceId, DeckId)).Match(ToastService, async _ => {
        await DbExecutor.QueryAsync(db => StackRepository.GetAcquired(db, _user.Id, Ids.StackId)).Match(ToastService, async cards => {
          await UpdateAcquiredCards.InvokeAsync(cards);
          await UpdateAcquiredIds.InvokeAsync(FSharpOption<StackBranchInstanceIds>.Some(Ids));
        });
      });
    }
  }

  private Task _Discard() =>
    DbExecutor.QueryAsync(db => StackRepository.unacquireStack(db, _user.Id, Ids.StackId)).Match(ToastService, async _ => {
      await UpdateAcquiredCards.InvokeAsync(ResizeArray.empty<AcquiredCard>());
      await UpdateAcquiredIds.InvokeAsync(FSharpOption<StackBranchInstanceIds>.None);
      _modal.Hide();
    });

}
