@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@inject DbExecutor DbExecutor

<div class="d-flex justify-content-between align-items-center">
  <SearchBar SearchClicked="@SearchClicked" BackLink="/stack/" CreateLink=@(x => $"/stack/{x}") Ids=@_stacks?.Select(x => x.Id.ToString())?.ToList() SelectedId=@SelectedStackId.ToString() />
</div>
@if (SelectedStackId == default && BranchId == default && LeafId == default) {
  @if (_stacks == null) {
    <p><em>Loading...</em></p>
  } else {
    <table class="table">
      <tr>
        <th></th>
        <th>Users</th>
        <th>Name</th>
      </tr>
      @foreach (var stack in _stacks) {
        <tr>
          <td>
            <HoverPreview IsCollected=@stack.IsCollected>
              <ResizingIframeBranch LeafId=@stack.Leaf.Id Front />
            </HoverPreview>
          </td>
          <td>
            @stack.Users
          </td>
          <td>
            <a href="/stack/@stack.Id">
              @stack.Leaf.StrippedFront
            </a>
          </td>
        </tr>
      }
    </table>
  }
  <Pager Details=@_details PageChanged=@PageChanged />
} else {
  <Stack StackId=@SelectedStackId BranchId=@BranchId LeafId=@LeafId Index=@Index />
}

@code {
  [CascadingParameter] Task<UserClaims> UserTask { get; set; }
  private UserClaims _user = UserClaims.init;
  [Parameter] public int? SelectedStackId { get; set; }
  [Parameter] public int? BranchId { get; set; }
  [Parameter] public int? LeafId { get; set; }
  [Parameter] public short? Index { get; set; }
  private IList<CardOverflow.Pure.ExploreStackSummary> _stacks;
  private PagedListDetails _details;
  private SearchCommand _search = new SearchCommand { Query = "" };

  public override async Task SetParametersAsync(ParameterView parameters) {
    await base.SetParametersAsync(parameters);
    _user = await UserTask;
    if (SelectedStackId == default && BranchId == default && LeafId == default && _stacks == default) {
      await PageChanged(1);
    }
    StateHasChanged();
  }

  async Task PageChanged(int pageNumber) {
    var pagedList = await DbExecutor.QueryAsync(db => SanitizeStackRepository.search(db, _user.Id, pageNumber, _search));
    _details = pagedList.Details;
    _stacks = pagedList.Results.ToList();
  }

  Task SearchClicked(SearchCommand newSearch) {
    SelectedStackId = null;
    _search = newSearch;
    return PageChanged(1);
  }

}
