@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@inject DbExecutor DbExecutor

<div class="d-flex justify-content-between align-items-center">
  <SearchBar SearchClicked="@SearchClicked" BackLink="/explore/" CreateLink=@(x => $"/stack/{x}") Ids=@_stacks?.Select(x => x.Id.ToString())?.ToList() SelectedId=@SelectedStackId.ToString() />
</div>
@if (SelectedStackId == null) {
  @if (_stacks == null) {
    <p><em>Loading...</em></p>
  } else {
    <table class="table">
      <tr>
        <th></th>
        <th>Users</th>
        <th>Name</th>
      </tr>
      @foreach (var stack in _stacks) {
        <tr>
          <td>
            <div class="curate-tooltip-target">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span class="oi oi-eye@(stack.IsAcquired ? " text-success" : "")" aria-hidden="true"></span>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="curate-tooltip-content">
                <ResizingIframeBranch BranchInstanceId=@stack.Instance.Id Front />
              </div>
            </div>
          </td>
          <td>
            @stack.Users
          </td>
          <td>
            <a href="/stack/@stack.Id">
              @stack.Instance.StrippedFront
            </a>
          </td>
        </tr>
      }
    </table>
  }
  <Pager Details=@_details PageChanged=@PageChanged />
} else {
  <Stack StackId=@SelectedStackId.Value />
}

@code {
  [CascadingParameter] UserEntity User { get; set; }
  [Parameter] public int? SelectedStackId { get; set; }
  private IList<CardOverflow.Pure.ExploreStackSummary> _stacks;
  private PagedListDetails _details;
  private SearchCommand _search = new SearchCommand { Query = "" };

  public override async Task SetParametersAsync(ParameterView parameters) {
    await base.SetParametersAsync(parameters);
    if (SelectedStackId == null && _stacks == null) {
      await PageChanged(1);
      StateHasChanged();
    }
  }

  async Task PageChanged(int pageNumber) {
    var pagedList = await DbExecutor.QueryAsync(db => SanitizeStackRepository.SearchAsync(db, User?.Id ?? 0, pageNumber, _search));
    _details = pagedList.Details;
    _stacks = pagedList.Results.ToList();
  }

  Task SearchClicked(SearchCommand newSearch) {
    SelectedStackId = null;
    _search = newSearch;
    return PageChanged(1);
  }

}
