@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using CardOverflow.Server.Data
@inject DbExecutor DbExecutor
@inject IToastService ToastService
@inject UserContentHttpClient UserContentHttpClient
@inject TimeProvider TimeProvider

<div>
  <h4>Comments</h4>
  <ul class="list-group">
    @foreach (var comment in Stack.Comments) {
      <li class="list-group-item border-0">
        <div>
          @comment.Text
        </div>
        <div class="font-italic float-right">
          by
          <a href="user/@comment.UserId">
            @comment.User
          </a>
          <span class="small text-muted" title=@(comment.Created + " UTC")>
            - @ViewLogic.timestampToPretty(comment.Created, TimeProvider.utcNow)
          </span>
        </div>
      </li>
    }
    <Comment StackId=@Stack.Id AddComment=@_AddComment />
  </ul>
</div>

@code {
  [CascadingParameter] Task<UserClaims> UserTask { get; set; }
  [Parameter] public CardOverflow.Pure.ExploreStack Stack { get; set; }

  async Task _AddComment(string comment) {
    var user = await UserTask;
    Stack.Comments = Stack.Comments.Append(new Pure.Comment(user.DisplayName, user.Id, comment, TimeProvider.utcNow, false)).ToList();
  }

}
