@using Microsoft.FSharp.Core
@using CardOverflow.Pure
@using System.Linq
@using CardOverflow.Entity
@using CardOverflow.Legacy
@using CardOverflow.Debug
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using CardOverflow.Server.Data
@inject DbExecutor DbExecutor
@inject IToastService ToastService
@inject NavigationManager NavigationManager
@inject TimeProvider TimeProvider

@if (_stack == null || _selected == null) {
  <p><em>@_loadingMessage</em></p>
} else {
  <div class="row">
    <div class="col-4">
      <Stack_Branches Stack=@_stack
                      Branches=@_stack.Branches
                      InstanceSelected=@(x => _selected = x)
                      AcquiredIds=@_stack.AcquiredIds
                      UpdateAcquiredIds=@(x => _stack.AcquiredIds = x)
                      Selected=@_selected
                      UpdateAcquiredCards=@(x => _acquiredCards = x) />
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-xl">
          <Stack_IFrameHeader Stack=@_stack Instance=@_selected />
          @foreach (var i in _selected.Indexes) {
            <ResizingIframe BranchInstance=@((_selected.Id, i)) Back />
          }
        </div>
      </div>
      <div class="row">
        <div class="col-xl">
          <Stack_Tag Stack=@_stack />
          <Stack_Relationship Stack=@_stack />
        </div>
        <div class="col-xl">
          <Stack_Comments Stack=@_stack />
        </div>
      </div>
    </div>
  </div>
}

@code {
  [Parameter] public int? StackId { get; set; }
  [Parameter] public int? BranchId { get; set; }
  [Parameter] public int? BranchInstanceId { get; set; }
  [Parameter] public bool IsCurate { get; set; }
  [CascadingParameter] Task<UserClaims> UserTask { get; set; }
  private UserClaims _user = UserClaims.init;
  private CardOverflow.Pure.ExploreStack _stack;
  private BranchInstanceMeta _selected;
  private List<AcquiredCard> _acquiredCards = new List<AcquiredCard>();
  private string _loadingMessage = "Loading...";
  private bool _isAcquired() => _acquiredCards.Any(x => x.BranchInstanceMeta.Id == _selected.Id);

  private void sub1() {
    if (_stack.IsAnyAcquired) {
      _stack.Users--;
    }
    if (_selected.IsAcquired) {
      _selected.Users--;
    }
    foreach (var branch in _stack.Branches) {
      if (branch.Instance.Id == _stack.AcquiredIds?.Value?.BranchInstanceId || branch.Id == _stack.AcquiredIds?.Value?.BranchId) {
        branch.Summary.Users--;
      }
    }
  }

  public override async Task SetParametersAsync(ParameterView parameters) {
    var oldStackId = StackId;
    var oldBranchId = BranchId;
    var oldBranchInstanceId = BranchInstanceId;
    await base.SetParametersAsync(parameters);
    _user = await UserTask;
    if (StackId.HasValue && oldStackId != StackId) {
      await DbExecutor.QueryAsync(db => ExploreStackRepository.get(db, _user.Id, StackId.Value)).Match(_ShowError, x => {
        _stack = x;
        _selected = _stack.Default.Instance;
        sub1();
      });
    } else if (BranchId.HasValue && oldBranchId != BranchId) {
      await DbExecutor.QueryAsync(db => ExploreStackRepository.branch(db, _user.Id, BranchId.Value)).Match(_ShowError, x => {
        (_selected, _stack) = x;
        sub1();
      });
    } else if (BranchInstanceId.HasValue && oldBranchInstanceId != BranchInstanceId) {
      await DbExecutor.QueryAsync(db => ExploreStackRepository.instance(db, _user.Id, BranchInstanceId.Value)).Match(_ShowError, x => {
        (_selected, _stack) = x;
        sub1();
      });
    }
    if (_user.IsAuthenticated && _stack != null) {
      var r = await DbExecutor.QueryAsync(db => StackRepository.GetAcquired(db, _user.Id, _stack.Id));
      if (r.IsOk) {
        _acquiredCards = r.ResultValue;
      } // the only error so far is due to not acquiring the card, so intentionally not showing it.
    }
    StateHasChanged();
  }

  private void _ShowError(string error) {
    ToastService.ShowError(error);
    _loadingMessage = error;
  }

}
