@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using CardOverflow.Server.Data
@inject DbExecutor DbExecutor
@inject IToastService ToastService
@inject UserContentHttpClient UserContentHttpClient

<div>
  <div class="d-flex justify-content-between">
    <h4>Tags</h4>
    @if (Stack.IsAnyAcquired) {
      @if (_showTagAdder) {
        <TagAdder AddTag=@(x => AcquireTag(x.Text)) />
      } else {
        <button class="btn btn-outline-success" @onclick=@(() => _showTagAdder = true)>
          <i class="fas fa-plus"></i>
        </button>
      }
    }
  </div>
  <ul class="d-flex flex-wrap list-unstyled">
    @foreach (var tag in Stack.Tags.Where(x => x.IsAcquired).OrderByDescending(x => x.Count).ThenBy(x => x.Name)) {
      <li class="m-1">
        <button type="button" class="btn btn-outline-acquired btn-sm" @onclick=@(() => DeleteTag(tag.Name))>
          <span class="badge badge-success">@tag.Count</span> @tag.Name
        </button>
      </li>
    }
    @foreach (var tag in Stack.Tags.Where(x => !x.IsAcquired).OrderByDescending(x => x.Count).ThenBy(x => x.Name)) {
      <li class="m-1">
        <button type="button" class="btn btn-outline-unacquired btn-sm" @onclick=@(() => AcquireTag(tag.Name, false)) disabled=@(!Stack.IsAnyAcquired)>
          <span class="badge badge-success">@tag.Count</span> @tag.Name
        </button>
      </li>
    }
  </ul>
</div>

@code {
  [CascadingParameter] Task<UserClaims> UserTask { get; set; }
  [Parameter] public CardOverflow.Pure.ExploreStack Stack { get; set; }
  private bool _showTagAdder;

  public override async Task SetParametersAsync(ParameterView parameters) {
    await base.SetParametersAsync(parameters);
    if (!Stack.IsAnyAcquired) {
      foreach (var tag in Stack.Tags.Where(t => t.IsAcquired)) {
        tag.IsAcquired = false;
        tag.Count--;
      }
    }
  }

  async Task AcquireTag(string name, bool isNew = true) {
    var user = await UserTask;
    var x = await DbExecutor.QueryAsync(db => SanitizeTagRepository.AddTo(db, user.Id, name, Stack.Id));
    if (x.IsOk) {
      if (isNew) {
        Stack.Tags = Stack.Tags.Append(new ViewTag(name, 0, false)).ToList();
      }
      Stack.Tags.Single(t => t.Name == name).IsAcquired = true;
      Stack.Tags.Single(t => t.Name == name).Count++;
      StateHasChanged();
    } else {
      ToastService.ShowError(x.ErrorValue);
    }
  }

  async Task DeleteTag(string tag) {
    var user = await UserTask;
    var x = await DbExecutor.QueryAsync(db => SanitizeTagRepository.DeleteFrom(db, user.Id, tag, Stack.Id));
    if (x.IsOk) {
      Stack.Tags.Single(t => t.Name == tag).IsAcquired = false;
      Stack.Tags.Single(t => t.Name == tag).Count--;
      StateHasChanged();
    } else {
      ToastService.ShowError(x.ErrorValue);
    }
  }

}
