@using Microsoft.FSharp.Core
@using CardOverflow.Pure
@using System.Linq
@using CardOverflow.Entity
@using CardOverflow.Legacy
@using CardOverflow.Debug
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using CardOverflow.Server.Data
@inject DbExecutor DbExecutor
@inject IToastService ToastService
@inject NavigationManager NavigationManager
@inject TimeProvider TimeProvider

@if (_stack == null || _selected == null) {
  <p><em>@_loadingMessage</em></p>
} else {
  <div class="row">
    <div class="col-xl">
      @if (!_selected.IsLatest) {
        <div class="alert alert-warning" role="alert">
          This is an old revision created
          <span title=@_selected.Created>
            @(ViewLogic.timestampToPretty(_selected.Created, TimeProvider.utcNow)).
          </span>
          The present URL is a permanent link to this revision, which may differ significantly from the
          <a href="stack/@_selected.StackId">
            current revision.
          </a>
          <a href="stackdiff/@_selected.Id">
            Here's the difference
          </a>
          between this old revision and the current revision. Only the card is old - other information like Tags, Comments, and Branches are current.
        </div>
      }
      <Stack_IFrameHeader Stack=@_stack Instance=@_selected UpdateStack=@(x => _stack = x) />
      @foreach (var i in _selected.Indexes) {
        <div class="row">
          <div class=@(_isAcquired() ? "col-10" : "col")>
            <ResizingIframe BranchInstance=@((_selected.Id, i)) Back />
          </div>
          @if (_isAcquired()) {
            <div class="col-2">
              <Stack_Acquired AcquiredCard=@(_acquiredCards.Single(x => x.BranchInstanceMeta.Id == _selected.Id && x.Index == i)) CardStateUpdated=@_CardStateUpdated />
            </div>
          }
        </div>
      }
    </div>
  </div>
  <div class="row">
    <div class="col-xl">
      <Stack_Tag Stack=@_stack />
      <Stack_Relationship Stack=@_stack />
    </div>
    <div class="col-xl">
      <Stack_Comments Stack=@_stack />
    </div>
    <div class="col-xl">
      <Stack_Branches Branches=@_stack.Branches
                      InstanceSelected=@(x => _selected = x)
                      Status=@_stack.AcquiredStatus
                      UpdateStatus=@(x => _stack.AcquiredStatus = x)
                      Selected=@_selected
                      UpdateAcquiredCards=@(x => _acquiredCards = x)
                      UpdateUsers=@(x => _UpdateUsers(x.Item1, x.Item2))/>
    </div>
  </div>
}

@code {
  [Parameter] public int? StackId { get; set; }
  [Parameter] public int? BranchId { get; set; }
  [Parameter] public int? BranchInstanceId { get; set; }
  [Parameter] public bool IsCurate { get; set; }
  [CascadingParameter] Task<UserClaims> UserTask { get; set; }
  private UserClaims _user = UserClaims.init;
  private CardOverflow.Pure.ExploreStack _stack;
  private BranchInstanceMeta _selected;
  private List<AcquiredCard> _acquiredCards = new List<AcquiredCard>();
  private string _loadingMessage = "Loading...";
  private bool _isAcquired() => _acquiredCards.Any(x => x.BranchInstanceMeta.Id == _selected.Id);

  public override async Task SetParametersAsync(ParameterView parameters) {
    var oldStackId = StackId;
    var oldBranchId = BranchId;
    var oldBranchInstanceId = BranchInstanceId;
    await base.SetParametersAsync(parameters);
    _user = await UserTask;
    if (StackId.HasValue && oldStackId != StackId) {
      await DbExecutor.QueryAsync(db => ExploreStackRepository.get(db, _user.Id, StackId.Value)).Match(_ShowError, x => {
        _stack = x;
        _selected = _stack.Instance;
      });
    } else if (BranchId.HasValue && oldBranchId != BranchId) {
      await DbExecutor.QueryAsync(db => ExploreStackRepository.branch(db, _user.Id, BranchId.Value)).Match(_ShowError, x =>
        (_selected, _stack) = x
      );
    } else if (BranchInstanceId.HasValue && oldBranchInstanceId != BranchInstanceId) {
      await DbExecutor.QueryAsync(db => ExploreStackRepository.instance(db, _user.Id, BranchInstanceId.Value)).Match(_ShowError, x =>
        (_selected, _stack) = x
      );
    }
    if (_user.IsAuthenticated && _stack != null) {
      var r = await DbExecutor.QueryAsync(db => StackRepository.GetAcquired(db, _user.Id, _stack.Id));
      if (r.IsOk) {
        _acquiredCards = r.ResultValue;
      } // the only error so far is due to not acquiring the card, so intentionally not showing it.
    }
    StateHasChanged();
  }

  private void _ShowError(string error) {
    ToastService.ShowError(error);
    _loadingMessage = error;
  }

  private void _CardStateUpdated(CardState state) {
    if (state.IsSuspended && _acquiredCards.All(x => x.CardState.IsSuspended)) {
      _stack.Summary.Users--;
    } else if (!state.IsSuspended && _acquiredCards.All(x => !x.CardState.IsSuspended)) {
      _stack.Summary.Users++;
    }
  }

  private void _UpdateUsers(int i, int? instanceId) {
    var branch = @_stack.Branches.SingleOrDefault(x => x.Instance.Id == instanceId);
    if (branch != null) {
      branch.Summary.Users = branch.Summary.Users + i;
    }
    if (instanceId == _stack.Instance.Id) {
      _stack.Instance.Users = _stack.Instance.Users + i;
    }
  }

}
