@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using CardOverflow.Server.Data
@inject DbExecutor DbExecutor
@inject IToastService ToastService
@inject UserContentHttpClient UserContentHttpClient
@inject TimeProvider TimeProvider
@inject UserAppender UserAppender

<div>
  <div class="d-flex">
    <strong class="my-2">
      Setting:&nbsp;
    </strong>
    <CardSettingSelector SettingSelected=_SetSetting SelectedId=@Card.CardSettingId />
  </div>
  <div class="d-flex">
    <strong class="my-2">
      Deck:&nbsp;
    </strong>
    <DeckSelector DeckSelected=_SetDeck SelectedId=@Card.DeckId />
  </div>
  <div class="d-flex justify-content-between">
    <div>
      <strong>
        Due:
      </strong>
      <span title=@(Card.Due + "UTC")>
        <Due DueDate=@Card.Due />
      </span>
    </div>
    @if (!_showAdvanced) {
      <button class="btn my-0 py-0" @onclick=@(() => _showAdvanced = true)>
        <i class="fas fa-ellipsis-h"></i>
      </button>
    }
  </div>
  @if (_showAdvanced) {
    <div>
      <strong>
        State:
      </strong>
      @Card.CardState
    </div>
    <div>
      <strong>
        Is Lapsed:
      </strong>
      @Card.IsLapsed
    </div>
    <div>
      <strong>
        Ease Factor:
      </strong>
      @(Card.EaseFactorInPermille * 10)%
    </div>
    <div>
      @if (Card.CardState.IsSuspended) {
        <button class="btn btn-primary" @onclick=@(() => _editState(CardState.Normal))>
          Unsuspend
        </button>
      } else {
        <button class="btn btn-outline-primary" @onclick=@(() => _editState(CardState.Suspended))>
          Suspend
        </button>
      }
    </div>
  }
</div>

@code {
  [CascadingParameter] Task<Domain.Summary.User> UserTask { get; set; }
  [Parameter] public Card Card { get; set; }
  [Parameter] public EventCallback<(int, CardState)> CardStateUpdated { get; set; }
  private bool _showAdvanced;

  private async Task _SetSetting(Guid newId) {
    var user = await UserTask;
    // highTODO fix
    //var r = await DbExecutor.QueryAsync(db => SanitizeCardSettingRepository.setCard(db, user.Id, Card.CardId, newId));
    //if (r.IsOk) {
    //  ToastService.ShowInfo("Card setting saved!");
    //} else {
    //  ToastService.ShowError(r.ErrorValue);
    //}
  }

  private async Task _SetDeck(Guid newId) {
    var user = await UserTask;
    await DbExecutor.QueryAsync(db => SanitizeDeckRepository.@switch(db, user.Id, newId, Card.CardId))
      .Match(ToastService, _ => ToastService.ShowInfo("Deck saved!"));
  }

  private async Task _editState(CardState state) {
    var user = await UserTask;
    await DbExecutor.QueryAsync(db => ConceptRepository.editState(db, user.Id, Card.CardId, state)).Match(ToastService, async _ =>
      await CardStateUpdated.InvokeAsync((Card.Index, state)
    ));
  }

}
