@using System.Linq
@using Microsoft.FSharp.Core
@using Microsoft.FSharp.Collections
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Server.Data
@inject DbExecutor DbExecutor
@inject IToastService ToastService
@inject UserContentHttpClient UserContentHttpClient
@inject TimeProvider TimeProvider

@if (string.IsNullOrWhiteSpace(Revision.EditSummary)) {
  <span>
    &laquo; No Edit Summary &raquo;
  </span>
} else {
  @Revision.EditSummary
}
<a style="color:unset" class="font-italic float-right" title=@(Revision.Created + " UTC") href=@($"concept?revision={Revision.Id}")>
  - @ViewLogic.timestampToPretty(Revision.Created, TimeProvider.utcNow)
</a>

@code {
  [Parameter] public RevisionMeta Revision { get; set; }

}
