@page "/concept"
@page "/concept/{ConceptId:guid}"

@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@inject DbExecutor DbExecutor

<div class="d-flex justify-content-between align-items-center">
  <SearchBar SearchClicked="@SearchClicked" BackLink="/concept/" CreateLink=@(x => $"/concept/{x}") Ids=@_concepts?.Select(x => x.Id.ToString())?.ToList() SelectedId=@ConceptId.ToString() />
</div>
@if (ConceptId == default) {
  @if (_concepts == null) {
    <p><em>Loading...</em></p>
  } else {
    <table class="table">
      <tr>
        <th></th>
        <th>Users</th>
        <th>Name</th>
      </tr>
      @foreach (var concept in _concepts) {
        <tr>
          <td>
            <HoverPreview IsCollected=@concept.IsCollected>
              <ResizingIframeExample RevisionId=@concept.Revision.Id Front />
            </HoverPreview>
          </td>
          <td>
            @concept.Users
          </td>
          <td>
            <a href="/concept/@concept.Id">
              @concept.Revision.StrippedFront
            </a>
          </td>
        </tr>
      }
    </table>
  }
  <Pager Details=@_details PageChanged=@PageChanged />
} else {
  <Concept ConceptId=@ConceptId.Value />
}

@code {
  [Parameter] public Guid? ConceptId { get; set; }
  private IList<CardOverflow.Pure.ExploreConceptSummary> _concepts;
  private PagedListDetails _details;
  private SearchCommand _search = new SearchCommand { Query = "" };

  public override async Task SetParametersAsync(ParameterView parameters) {
    await base.SetParametersAsync(parameters);
    if (ConceptId == default && _concepts == default) {
      await PageChanged(1);
    }
    StateHasChanged();
  }

  async Task PageChanged(int pageNumber) {
    var pagedList = await DbExecutor.QueryAsync(db => SanitizeConceptRepository.search(db, Guid.Empty, pageNumber, _search));
    _details = pagedList.Details;
    _concepts = pagedList.Results.ToList();
  }

  Task SearchClicked(SearchCommand newSearch) {
    ConceptId = null;
    _search = newSearch;
    return PageChanged(1);
  }

}
