@page "/"
@namespace CardOverflow.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Buff Brains</title>
  <base href="~/" />
  <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
  <link href="css/site.css" rel="stylesheet" />
  <environment include="Development">
    <script>
      var wait = ms => new Promise((r, j) => setTimeout(r, ms)); // Inspired by https://github.com/martasp/BlazorLiveReload
      var failed = false;
      async function fetchAsync() {
        try {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function () {
            if (this.status === 200 && failed) { // connected and previously failed
              location.reload();
            } else if (this.status === 0 && this.readyState === 4) { // connection broken
              failed = true;
            }
          };
          xhttp.open("GET", "/", true);
          xhttp.send();
        }
        catch (e) {
          failed = true;
          await wait(200);
          console.log("failed " + e);
        }
      }
      async function Pooling() {
        while (true) {
          fetchAsync();
          await wait(2000);
        }
      }
      Pooling();
    </script>
  </environment>
  <script>
    window.Speak = (message) => {
      var msg = new SpeechSynthesisUtterance(message);
      window.speechSynthesis.speak(msg);
    }

    var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
    var recognition = new SpeechRecognition();
    var isListening = false

    window.Listen = (instance) => {
      isListening = true
      var SpeechGrammarList = SpeechGrammarList || webkitSpeechGrammarList;
      var SpeechRecognitionEvent = SpeechRecognitionEvent || webkitSpeechRecognitionEvent;
      var grammar = '#JSGF V1.0; grammar phrase; public <phrase> = ' + "" + ';'; // medTODO needs list of commands
      var speechRecognitionList = new SpeechGrammarList();
      speechRecognitionList.addFromString(grammar, 1);
      recognition.grammars = speechRecognitionList;
      recognition.lang = 'en-US';
      recognition.interimResults = false;
      recognition.maxAlternatives = 1;

      recognition.start();

      recognition.onresult = function (event) {
        // The SpeechRecognitionEvent results property returns a SpeechRecognitionResultList object
        // The SpeechRecognitionResultList object contains SpeechRecognitionResult objects.
        // It has a getter so it can be accessed like an array
        // The first [0] returns the SpeechRecognitionResult at position 0.
        // Each SpeechRecognitionResult object contains SpeechRecognitionAlternative objects that contain individual results.
        // These also have getters so they can be accessed like arrays.
        // The second [0] returns the SpeechRecognitionAlternative at position 0.
        // We then return the transcript property of the SpeechRecognitionAlternative object
        console.log('Confidence: ' + event.results[0][0].confidence + " Transcript:" + event.results[0][0].transcript)
        instance.invokeMethodAsync('GetTranscript', event.results[0][0].transcript)
          .then((message) => {
            console.log(message);
          });
      }

      recognition.onerror = function (event) {
        console.log('Error occurred in recognition: ' + event.error);
      }

      recognition.onend = function (event) {
        //Fired when the speech recognition service has disconnected.
        console.log('SpeechRecognition.onend');
        if (isListening) {
          recognition.start();
        }
      }
    }
    window.StopListening = (instance) => {
      isListening = false;
      recognition.stop();
    }
  </script>
  <script type="text/javascript" src="../js/iframeResizer.min.js"></script>
  <script>
    function resizeIframe(obj) {
      iFrameResize({ log: true }, obj)
    }
  </script>
</head>
<body>
  <app>@(await Html.RenderComponentAsync<App>())</app>

  <script src="_framework/blazor.server.js"></script>
  <script src="_content/BlazorStrap/blazorStrap.js"></script>
  <script src="_content/BlazorStrap/popper.min.js"></script>
</body>
</html>
