@page "/cardsetting"
@attribute [Authorize]

@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using CardOverflow.Server.Data
@inject DbExecutor DbExecutor
@inject IToastService ToastService

@if (_settings == null || _selected == null) {
  <p><em>Loading...</em></p>
} else {
  <div class="row">
    <div class="col-sm-10">
      <CardSettingEditorDetail Setting=@_selected Save=@Save SetAsDefault=@_SetSelectedAsDefault />
    </div>
    <div class="col-sm-2 list-group">
      <h5>Card Settings</h5>
      <button type="button" class="btn btn-success" @onclick=@_Add>
        Add
      </button>
      <button type="button" class="btn btn-primary" @onclick=@Save>Save</button>
      @foreach (var x in _settings.Select((x, i) => new { Setting = x, Index = i })) {
        <button class="list-group-item list-group-item-action @(_selected == x.Setting ? "active" : "")"
                @onclick=@(() => _Select(x.Index))>
          @if (x.Setting.IsDefault) {
            <span class="oi oi-star"></span>
          }
          @x.Setting.Name
        </button>
      }
    </div>
  </div>
}

@code {
  [CascadingParameter] Task<UserClaims> UserTask { get; set; }
  private UserClaims _user = UserClaims.init;
  private List<ViewCardSetting> _settings;
  private ViewCardSetting _selected;

  protected override async Task OnParametersSetAsync() {
    _user = await UserTask;
    _settings = await DbExecutor.QueryAsync(db => SanitizeCardSettingRepository.getAll(db, _user.Id));
    _selected = _settings.Single(x => x.IsDefault);
  }

  private void _Select(int index) =>
    _selected = _settings.ElementAt(index);

  private void _Add() {
    var setting = CardSettingsRepository.defaultCardSettings.Apply(ViewCardSetting.load);
    setting.Name = "New Card Settings";
    setting.IsDefault = false;
    _settings.Add(setting);
    _selected = setting;
  }

  private void _SetSelectedAsDefault() {
    _settings.Single(x => x.IsDefault).IsDefault = false;
    _selected.IsDefault = true;
  }

  private async Task Save() {
    var r = await DbExecutor.QueryAsync(db => SanitizeCardSettingRepository.upsertMany(db, _user.Id, _settings));
    if (r.IsOk) {
      if (r.ResultValue.Count() == _settings.Count()) {
        foreach (var x in r.ResultValue.Select((id, i) => new { NewId = id, Index = i })) {
          _settings.ElementAt(x.Index).Id = x.NewId;
        }
      } else {
        throw new Exception("Response doesn't have the correct number of CardSettings");
      }
      ToastService.ShowInfo("Saved!");
    } else {
      ToastService.ShowError(r.ErrorValue);
    }
  }

}
