@page "/counterfluxor"

@using Fluxor
@using Fluxor.Blazor.Web.Components
@using CardOverflow.Server.Store

@inject IState<CounterState> CounterState
@inject IDispatcher Dispatcher

@inherits FluxorComponent

<h1>Counter</h1>

<p>Current count: @CounterState.Value.Count</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
  void IncrementCount() {
    Dispatcher.Dispatch(new IncreaseCounter());
  }
}
