@page "/Curate/Card/Create"
@attribute [Authorize]
@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using Syncfusion.EJ2.Blazor
@using Syncfusion.EJ2.Blazor.RichTextEditor
@inject IToastService ToastService
@inject DbExecutor DbExecutor

@if (Card == null || Templates == null) {
  <p><em>@LoadingMessage</em></p>
} else {
  <EditCardDetail Card=@Card Templates=@Templates />
}

@code {
  [CascadingParameter]
  UserEntity User { get; set; }
  string LoadingMessage = "Loading...";
  AcquiredCard Card;
  IEnumerable<ViewTemplateWithAllInstances> Templates;

  protected override async Task OnInitializedAsync() {
    Card = await DbExecutor.QueryAsync(db => CardRepository.getNew(db, User?.Id ?? 0));
    Templates = await DbExecutor.QueryAsync(db => SanitizeTemplate.GetMine(db, User?.Id ?? 0));
  }

}
