@page "/Curate/Card/Create"
@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using Syncfusion.EJ2.Blazor
@using Syncfusion.EJ2.Blazor.RichTextEditor
@inject IToastService ToastService
@inherits OwningComponentBase<CardOverflowDb>

@if (Card == null || Templates == null) {
  <p><em>@LoadingMessage</em></p>
} else {
  <EditCardDetail Card=@Card Templates=@Templates />
}

@code {
  [CascadingParameter]
  UserEntity User { get; set; }
  string LoadingMessage = "Loading...";
  AcquiredCard Card;
  IEnumerable<ViewCardTemplateWithAllInstances> Templates;

  protected override async Task OnInitializedAsync() {
    Card = await CardRepository.getNew(Service, User?.Id ?? 0);
    Templates = await SanitizeCardTemplate.GetMine(Service, User?.Id ?? 0);
  }

}
