@page "/Curate/Card/Create"
@attribute [Authorize]
@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using Syncfusion.EJ2.Blazor
@using Syncfusion.EJ2.Blazor.RichTextEditor
@inject IToastService ToastService
@inject DbExecutor DbExecutor

@if (_command == null || _collates == null) {
  <p><em>@LoadingMessage</em></p>
} else {
  <EditStackDetail EditStack=@_command Collates=@_collates NewEditStackOnSave=true />
}

@code {
  [CascadingParameter] UserEntity User { get; set; }
  string LoadingMessage = "Loading...";
  private ViewEditStackCommand _command;
  private IEnumerable<ViewCollateWithAllInstances> _collates;

  protected override async Task OnParametersSetAsync() {
    await base.OnParametersSetAsync();
    if (User != null) {
      var x = await DbExecutor.QueryAsync(db => SanitizeStackRepository.getUpsert(db, UpsertCardSource.NewVNewOriginalUserId(User.Id)));
      if (x.IsOk) {
        _command = x.ResultValue;
      } else {
        ToastService.ShowError(x.ErrorValue);
      }
      _collates = await DbExecutor.QueryAsync(db => SanitizeCollate.GetMine(db, User.Id));
    }
  }

}
