@page "/CardTemplate/Create"
@using Microsoft.AspNetCore.Mvc
@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using CardOverflow.Server.Data
@using Microsoft.AspNetCore.WebUtilities
@inject IToastService ToastService

<h1>Create Card Template</h1>
@if (Editable == null) {
  <p><em>@LoadingMessage</em></p>
} else {
  <CardTemplateEditorDetail IsDisabled=false Instance=@Editable />
}

@code {
  [CascadingParameter]
  UserEntity User { get; set; }
  string LoadingMessage = "Loading...";
  ViewCardTemplateInstance Editable;

  protected override async Task OnInitializedAsync() {
    if (User == null) {
      LoadingMessage = "You need to log in.";
    } else {
      Editable = ViewCardTemplateWithAllInstances.initialize(User.Id).Editable;
    }
  }

}
