@page "/Curate"
@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@inject CardOverflowDb Db

@if (cards == null) {
  <p><em>Loading...</em></p>
} else {
  <div>
    <table class="table">
      <tr>
        <th>Preview</th>
        <th>Name</th>
        <th>Tags</th>
      </tr>
      @foreach (var card in cards) {
        <tr>
          <td>
            <div class="curate-tooltip-target">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-eye" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="curate-tooltip-content">
                @* https://stackoverflow.com/questions/19739001/which-is-the-difference-between-srcdoc-and-src-datatext-html-in-an/ *@
                <iframe sandbox allow-scripts class="curate-iframe-tooltip" srcdoc="@card.CardInstance.FrontBackFrontSynthBackSynth.Item1"></iframe>
              </div>
            </div>
          </td>
          <td>
            <a href="/Curate/Card/@card.CardId">
              @MappingTools.stripHtmlTags(card.CardInstance.FrontBackFrontSynthBackSynth.Item1)
            </a>
          </td>
          <td>
            <ul>
              @foreach (var tag in @card.Tags) {
                <li>
                  @tag
                </li>
              }
            </ul>
          </td>
        </tr>
      }
    </table>
    <Pager Details=@details PageChanged=@PageChanged />
  </div>
}

@code {
  [CascadingParameter]
  UserEntity User { get; set; }
  IList<AcquiredCard> cards;
  PagedListDetails details;

  protected override async Task OnInitAsync() {
    await PageChanged(1);
  }

  async Task PageChanged(int pageNumber) {
    var pagedList = await CardRepository.GetAcquiredPages(Db, User?.Id ?? 0, pageNumber);
    details = pagedList.Details;
    cards = pagedList.Results.Select(x => x.ResultValue).ToList(); // medTODO show errors
  }

}
