@page "/card/{CardId:int}/edit"
@page "/curate/card/copy/{CopySourceInstanceId:int}"
@page "/curate/card/branch/{BranchSourceCardId:int}"
@attribute [Authorize]
@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using Syncfusion.EJ2.Blazor
@using Syncfusion.EJ2.Blazor.RichTextEditor
@inject IToastService ToastService
@inject DbExecutor DbExecutor

@if (_card == null || _command == null) {
  <p><em>@LoadingMessage</em></p>
} else {
  <EditCardDetail Card=@_card EditCard=@_command />
}

@code {
  [Parameter] public int CardId { get; set; }
  [Parameter] public int CopySourceInstanceId { get; set; }
  [Parameter] public int BranchSourceCardId { get; set; }
  [CascadingParameter] UserEntity User { get; set; }
  string LoadingMessage = "Loading...";
  AcquiredCard _card;
  ViewEditCardCommand _command;

  private async Task _TrySetCommandAndCard(Task<FSharpResult<Tuple<ViewEditCardCommand, AcquiredCard>, string>> result) {
    var x = await result;
    if (x.IsOk) {
      _command = x.ResultValue.Item1;
      _card = x.ResultValue.Item2;
    } else {
      LoadingMessage = x.ErrorValue;
      ToastService.ShowError(x.ErrorValue);
    }
  }

  private Task<FSharpResult<Tuple<ViewEditCardCommand, AcquiredCard>, string>> _GetCommandAndCard() {
    if (CardId != 0) {
      return DbExecutor.QueryAsync(db => SanitizeCardRepository.getEdit(db, User.Id, CardId));
    } else if (CopySourceInstanceId != 0) {
      return DbExecutor.QueryAsync(db => SanitizeCardRepository.getCopy(db, User.Id, CopySourceInstanceId));
    } else if (BranchSourceCardId != 0) {
      return DbExecutor.QueryAsync(db => SanitizeCardRepository.getBranch(db, User.Id, User.DisplayName, BranchSourceCardId));
    } else {
      return FSharpResult<Tuple<ViewEditCardCommand, AcquiredCard>, string>.NewError("0 is an invalid card.").Apply(Task.FromResult);
    }
  }

  public override async Task SetParametersAsync(ParameterView parameters) {
    await base.SetParametersAsync(parameters);
    if (User != null) {
      await _GetCommandAndCard().Apply(_TrySetCommandAndCard);
      StateHasChanged();
    }
  }

}
