@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using Microsoft.FSharp.Collections
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using Syncfusion.EJ2.Blazor
@using Syncfusion.EJ2.Blazor.RichTextEditor
@inject IToastService ToastService
@inherits OwningComponentBase<CardOverflowDb>

@if (Templates == null) {
  <p><em>Loading...</em></p>
} else {
  <EditForm Model=@EditCard OnValidSubmit=@UpdateCard @onkeydown=@OnKeyDown tabindex="0" style="outline: none;">
    <fieldset>
      <div class="form-group">
        <div class="row">
          <div class="col-sm">
            @foreach (var field in EditCard.FieldValues) {
              <EditCardField Field=@field Card=@Card ValueUpdated=@(x => field.Value = x) MustBeCommunal=@(EditCard.TemplateInstance.ClozeFields.Contains(field.EditField.Name)) />
            }
          </div>
          <div class="col-sm">
            <div class="row">
              <a href="cardoption" class="col-sm-2 mt-2">
                Card Option
              </a>
              <div class="col-sm-10 px-0">
                <CardOptionSelector OptionSelected=_SetOption SelectedId=_SelectedCardOptionId />
              </div>
            </div>
            <div class="row">
              <a href="CardTemplate/@SelectedTemplateId" class="col-sm-2 mt-2">
                Card Template
              </a>
              <select value=@SelectedTemplateId class="form-control col-sm-10" @onchange=@(x => x.Value.ToString().Apply(int.Parse).Do(id => UpdateSelectedTemplate(id)))>
                @foreach (var template in Templates) {
                  <option value=@template.Id>@template.Editable.Name</option>
                }
              </select>
            </div>
            <div class="row">
              <a href="CardTemplate/@SelectedTemplateId?InstanceId=@SelectedTemplateInstanceId" class="col-sm-2 mt-2" tabindex="-1">
                Revision
              </a>
              <select value=@SelectedTemplateInstanceId class="form-control col-sm-10" @onchange=@(x => x.Value.ToString().Apply(int.Parse).Do(UpdateSelectedTemplateInstance))>
                @foreach (var instance in SelectedTemplateInstances) {
                  <option value=@instance.Id>@instance.Created - @instance.EditSummary</option>
                }
              </select>
            </div>
            @if (EditCard.Backs.IsOk) {
              @foreach (var back in EditCard.Backs.ResultValue) {
                <iframe sandbox="allow-scripts" srcdoc=@back style="height: 80vh; width: 100%;"></iframe>
              }
            } else {
              <span>
                Error: @EditCard.Backs.ErrorValue
              </span>
            }
          </div>
        </div>
      </div>
      <div class="float-right mr-3">
        <div class="row">
          <span class="btn-group">
            <InputText @bind-Value=@EditCard.EditSummary class="form-control" placeholder="Edit Summary" style="width: 500px;" />
            <button type="button" class="btn btn-primary" @onclick=@UpdateCard>Save</button>
          </span>
        </div>
        <div class="row">
          <DataAnnotationsValidator />
          <ValidationSummary />
        </div>
      </div>
    </fieldset>
  </EditForm>
}

@code {
  [Parameter]
  public AcquiredCard Card { get; set; }
  [Parameter]
  public ViewEditCardCommand EditCard { get; set; }
  [CascadingParameter]
  UserEntity User { get; set; }
  [Parameter]
  public IEnumerable<ViewCardTemplateWithAllInstances> Templates { get; set; }
  private IEnumerable<ViewCardTemplateInstance> SelectedTemplateInstances;
  private int SelectedTemplateId;
  private int SelectedTemplateInstanceId;
  private bool NewEditCardOnSave;
  private int _SelectedCardOptionId;

  protected override async Task OnInitializedAsync() {
    if (Templates == null) {
      Templates = await SanitizeCardTemplate.GetMine(Service, User?.Id ?? 0);
    }
    if (EditCard == null) {
      EditCard = new ViewEditCardCommand("Initial creation", new List<EditFieldAndValue>(), Templates.First().Instances.First());
      NewEditCardOnSave = true;
    }
    _SelectedCardOptionId = User.DefaultCardOptionId.Value;
    UpdateSelectedTemplate(EditCard.TemplateInstance.CardTemplateId, EditCard.TemplateInstance.Id);
  }

  private void _SetOption(int newId) {
    _SelectedCardOptionId = newId;
    Card.CardOptionId = newId;
  }

  async Task UpdateCard() {
    var result = await SanitizeCardRepository.Update(Service, User.Id, Card, EditCard);
    if (result.IsOk) {
      ToastService.ShowInfo("Saved!");
      if (NewEditCardOnSave) {
        var fieldValues = EditCard.FieldValues.Select(x => {
          if (x.IsCommunal) {
            var communalInstanceId = result.ResultValue.Single(xx => x.EditField.Name == xx.Item1).Item2;
            return new EditFieldAndValue(x.EditField, x.Value, new CommunalFieldValue(communalInstanceId, new List<int> { Card.CardInstanceMeta.Id }));
          } else {
            return new EditFieldAndValue(x.EditField, "", x.Communal);
          }
        }).ToList();
        EditCard = new ViewEditCardCommand(EditCard.EditSummary, fieldValues, EditCard.TemplateInstance);
        UpdateSelectedTemplate(EditCard.TemplateInstance.CardTemplateId, EditCard.TemplateInstance.Id);
      }
    } else {
      ToastService.ShowError(result.ErrorValue);
    }
  }

  void UpdateSelectedTemplate(int templateId, int? instanceId = null) {
    SelectedTemplateId = templateId;
    SelectedTemplateInstances = Templates.Single(t => t.Id == templateId).Instances;
    UpdateSelectedTemplateInstance(instanceId ?? SelectedTemplateInstances.First().Id);
  }

  void UpdateSelectedTemplateInstance(int instanceId) {
    SelectedTemplateInstanceId = instanceId;
    EditCard.TemplateInstance = Templates.SelectMany(x => x.Instances).Single(x => x.Id == instanceId);
    var valuesByField = EditCard.FieldValues.ToDictionary(fv => fv.EditField.Name, fv => fv.Value);
    EditCard.FieldValues = EditCard.TemplateInstance.Fields
      .Select(ViewFieldModule.copyTo)
      .Select(field =>
        (valuesByField.ContainsKey(field.Name)
          ? valuesByField[field.Name] ?? ""
          : "")
          .Apply(value => {
            return new EditFieldAndValue(
              field,
              value ?? "",
              EditCard.FieldValues.SingleOrDefault(x => x.EditField.Name == field.Name)?.Communal ?? FSharpOption<CommunalFieldValue>.None);
          }
      )).ToList();
  }

  Task OnKeyDown(Microsoft.AspNetCore.Components.Web.KeyboardEventArgs eventArgs) =>
    eventArgs.CtrlKey && eventArgs.Key == "Enter"
      ? UpdateCard()
      : Task.CompletedTask;

}
