@page "/Explore"
@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@inject CardOverflowDb Db

@if (cards == null) {
  <p><em>Loading...</em></p>
} else {
  <div class="d-flex justify-content-between align-items-center">
    @if (selectedCardId != null) {
      <span style="min-width: fit-content;">
        @*see if you can remove this span... only here since the if breaks the nbsp*@
        <a href="javascript:void(0);" @onclick=@(() => CardClick(null))>
          <span class="oi oi-arrow-circle-left"></span>
        </a>
        &nbsp;
      </span>
    }
    <EditForm OnValidSubmit=@(() => PageChanged(1)) Model=@query class="form-inline input-group">
      <InputText class="form-control" placeholder="Search" aria-label="Search" @bind-Value=@query.Query />
      <button class="btn btn-primary" type="submit">Search</button>
      <DataAnnotationsValidator />
      <ValidationSummary />
    </EditForm>
    @if (selectedCardId != null) {
      <span style="min-width: fit-content;">
        @*see if you can remove this span... only here since the if breaks the nbsp*@
        &nbsp;
        <a href="javascript:void(0);" @onclick=@(() => CardClick(selectedCardId - 1))>
          <span class="oi oi-chevron-left"></span>
        </a>
        &nbsp;
        <a href="javascript:void(0);" @onclick=@(() => CardClick(selectedCardId + 1))>
          <span class="oi oi-chevron-right"></span>
        </a>
      </span>
    }
  </div>
  if (selectedCardId == null) {
    <table class="table">
      <tr>
        <th></th>
        <th>Users</th>
        <th>Name</th>
      </tr>
      @foreach (var card in cards) {
        <tr>
          <td>
            <div class="curate-tooltip-target">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span class="oi oi-eye@(card.LatestInstance.IsAcquired ? " text-success" : "")" aria-hidden="true"></span>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="curate-tooltip-content">
                <div>@card.Description</div>
                @* https://stackoverflow.com/questions/19739001/which-is-the-difference-between-srcdoc-and-src-datatext-html-in-an/ *@
                <iframe sandbox allow-scripts class="curate-iframe-tooltip" srcdoc="@card.LatestInstance.FrontBackFrontSynthBackSynth.Item1"></iframe>
              </div>
            </div>
          </td>
          <td>
            @card.Users
          </td>
          <td>
            <a href="javascript:void(0);" @onclick=@(() => CardClick(card.Id))>
              @MappingTools.stripHtmlTags(card.LatestInstance.FrontBackFrontSynthBackSynth.Item1)
            </a>
          </td>
        </tr>
      }
    </table>
    <Pager Details=@details PageChanged=@PageChanged />
  } else {
    <ExploreCard Id="selectedCardId.Value" />
  }
}

@code {
  IList<CardOverflow.Pure.ExploreCard> cards;
  PagedListDetails details;
  [CascadingParameter]
  UserEntity User { get; set; }
  int? selectedCardId;
  SearchCommand query = new SearchCommand { Query = "" };

  protected override async Task OnInitializedAsync() {
    await PageChanged(1);
  }

  void CardClick(int? cardId) {
    selectedCardId = cardId;
    StateHasChanged();
  }

  async Task PageChanged(int pageNumber) {
    var pagedList = await SanitizeCardRepository.SearchAsync(Db, User?.Id ?? 0, pageNumber, query);
    details = pagedList.Details;
    cards = pagedList.Results.ToList();
  }

}
