@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Legacy
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using CardOverflow.Server.Data
@inject DbExecutor DbExecutor
@inject IToastService ToastService

<div>
  Used by <span class="badge badge-success">@Card.Summary.Users</span>
  @if (User == null) {
    <p>Log in to Get</p>
  } else {
    @if (Card.IsAnyAcquired) {
      <button class="btn btn-outline-danger" @onclick=@(() => _modal.Show())>
        Discard
      </button>
    } else {
      <button class="btn btn-primary" @onclick=@_acquire>
        Collect
      </button>
    }
  }
</div>

<BSModal @ref=_modal>
  <BSModalHeader>
    Are you sure you want to discard?
  </BSModalHeader>
  <BSModalBody>
    <div>
      Discarding a card will delete all all of it's associated Tags, Relationships, and History. Are you sure you want to discard?
    </div>
    <div class="small">
      <em>Suspending will preserve the above data and prevent the card from appearing when you Study.</em>
    </div>
  </BSModalBody>
  <BSModalFooter>
    <div>
      <BSButton Color="Color.Secondary" OnClick=_modal.Hide type="button">
        Cancel
      </BSButton>
      <BSButton Color="Color.Danger" @onclick=@_discard>
        Discard
      </BSButton>
    </div>
  </BSModalFooter>
</BSModal>

@code {
  [CascadingParameter] UserEntity User { get; set; }
  [Parameter] public CardOverflow.Pure.ExploreCard Card { get; set; }
  [Parameter] public EventCallback<CardOverflow.Pure.ExploreCard> UpdateCard { get; set; }
  private BSModal _modal;

  private async Task _acquire() {
    await DbExecutor.CommandAsync(db => CardRepository.AcquireCardAsync(db, User.Id, Card.Instance.Id));
    var ac = await DbExecutor.QueryAsync(db => CardRepository.GetAcquired(db, User.Id, Card.Id));
    if (ac.IsOk) {
      Card.AcquiredStatus = ExploreCardAcquiredStatus.NewExactInstanceAcquired(Card.Instance.Id);
      Card.Instance.IsAcquired = true;
      Card.Summary.Users++;
      await UpdateCard.InvokeAsync(Card);
    } else {
      ToastService.ShowError(ac.ErrorValue);
    }
  }

  private async Task _discard() {
    await DbExecutor.CommandAsync(db => CardRepository.deleteAcquiredCard(db, User.Id, Card.Id));
    Card.AcquiredStatus = ExploreCardAcquiredStatus.NotAcquired;
    Card.Instance.IsAcquired = false;
    Card.Summary.Users--;
    _modal.Hide();
    await UpdateCard.InvokeAsync(Card);
  }

}
