@page "/cardinstance/{InstanceId:int}"

@using Microsoft.FSharp.Core
@using CardOverflow.Pure
@using System.Linq
@using CardOverflow.Entity
@using CardOverflow.Legacy
@using CardOverflow.Debug
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using CardOverflow.Server.Data
@inject DbExecutor DbExecutor
@inject IToastService ToastService
@inject NavigationManager NavigationManager
@inject TimeProvider TimeProvider

@if (Card == null) {
  <p><em>@_LoadingMessage</em></p>
} else {
  <div class="row">
    <div class="col-xl">
      @if (Instance == null) {
        <ExploreCardIFrameHeader Card=@Card Instance=@Card.Instance />
        <ResizingIframe BranchInstanceId=@Card.Instance.Id Back />
      } else {
        <div class="alert alert-warning" role="alert">
          This is an old revision created
          <span title=@Instance.Created>
            @(ViewLogic.timestampToPretty(Instance.Created, TimeProvider.utcNow)).
          </span>
          The present URL is a permanent link to this revision, which may differ significantly from the
          <a href="card/@Instance.CardId">
            current revision.
          </a>
          <a href="carddiff/@Instance.Id">
            Here's the difference
          </a>
          between this old revision and the current revision. Only the card is old - other information like Tags, Comments, and Branches are current.
        </div>
        <ExploreCardIFrameHeader Card=@Card Instance=@Instance />
        <ResizingIframe BranchInstanceId=@Instance.Id Back />
      }
    </div>
  </div>
  <div class="row">
    <div class="col-xl">
      <ExploreCardTag Card=@Card />
      <ExploreCardRelationship Card=@Card />
    </div>
    <div class="col-xl">
      <ExploreCardComments Card=@Card />
    </div>
    <div class="col-xl">
      <ExploreCardBranch Branches=@Card.Branches
                         InstanceSelected=@(x => Card.Summary.Instance = x)
                         Status=@Card.AcquiredStatus
                         UpdateStatus=@(x => Card.AcquiredStatus = x)
                         Selected=@Card.Instance
                         Root=@Card.Instance
                         Instance=@Instance
                         UpdateAcquiredCards=@(x => AcquiredCards = x) />
    </div>
  </div>
}

@code {
  [Parameter] public int CardId { get; set; }
  [Parameter] public int InstanceId { get; set; }
  [CascadingParameter] UserEntity User { get; set; }
  CardOverflow.Pure.ExploreCard Card;
  BranchInstanceMeta Instance;
  List<AcquiredCard> AcquiredCards;
  private string _LoadingMessage = "Loading...";

  public override async Task SetParametersAsync(ParameterView parameters) {
    await base.SetParametersAsync(parameters);
    if (InstanceId == 0) {
      var x = await DbExecutor.QueryAsync(db => ExploreCardRepository.get(db, User?.Id ?? 0, CardId));
      if (x.IsOk) {
        Card = x.ResultValue;
      } else {
        showError(x.ErrorValue);
      }
    } else {
      var x = await DbExecutor.QueryAsync(db => ExploreCardRepository.instance(db, User?.Id ?? 0, InstanceId));
      if (x.IsOk) {
        var (instance, card) = x.ResultValue;
        Card = card;
        if (instance.Id != card.Instance.Id) {
          Instance = instance;
        }
      } else {
        showError(x.ErrorValue);
      }
    }
    if (User != null && Card != null) {
      var r = await DbExecutor.QueryAsync(db => CardRepository.GetAcquired(db, User.Id, Card.Id));
      if (r.IsOk) {
        AcquiredCards = r.ResultValue;
      } // the only error so far is due to not acquiring the card, so intentionally not showing it.
    }
    StateHasChanged();
  }

  private void showError(string error) {
    ToastService.ShowError(error);
    _LoadingMessage = error;
  }

}
