@page "/explore"
@page "/card/{SelectedCardId:int}"
@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@inherits OwningComponentBase<CardOverflowDb>

@if (cards == null) {
  <p><em>Loading...</em></p>
} else {
  <div class="d-flex justify-content-between align-items-center">
    @if (SelectedCardId != null) {
      <span style="min-width: fit-content;">
        @*see if you can remove this span... only here since the if breaks the nbsp*@
        <a href="/explore">
          <span class="oi oi-arrow-circle-left"></span>
        </a>
        &nbsp;
      </span>
    }
    <EditForm OnValidSubmit=@(() => PageChanged(1)) Model=@query class="form-inline input-group">
      <InputText class="form-control" placeholder="Search" aria-label="Search" @bind-Value=@query.Query />
      <button class="btn btn-primary" type="submit">Search</button>
      <DataAnnotationsValidator />
      <ValidationSummary />
    </EditForm>
    @if (SelectedCardId != null) {
      <span style="min-width: fit-content;">
        @*see if you can remove this span... only here since the if breaks the nbsp*@
        &nbsp;
        @if (Before != null) {
          <a href="/card/@Before">
            <span class="oi oi-chevron-left"></span>
          </a>
        }
        &nbsp;
        @if (After != null) {
          <a href="/card/@After">
            <span class="oi oi-chevron-right"></span>
          </a>
        }
      </span>
    }
  </div>
  if (SelectedCardId == null) {
    <table class="table">
      <tr>
        <th></th>
        <th>Users</th>
        <th>Name</th>
      </tr>
      @foreach (var card in cards) {
        <tr>
          <td>
            <div class="curate-tooltip-target">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span class="oi oi-eye@(card.LatestMeta.IsAcquired ? " text-success" : "")" aria-hidden="true"></span>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="curate-tooltip-content">
                <ResizingIframe SrcUrl=@("/card/" + card.Id + "/front")></ResizingIframe>
              </div>
            </div>
          </td>
          <td>
            @card.Users
          </td>
          <td>
            <a href="/card/@card.Id">
              @card.LatestMeta.StrippedFront
            </a>
          </td>
        </tr>
      }
    </table>
    <Pager Details=@details PageChanged=@PageChanged />
  } else {
    <ExploreCard Id=@SelectedCardId.Value />
  }
}

@code {
  IList<CardOverflow.Pure.ExploreCardSummary> cards;
  PagedListDetails details;
  [CascadingParameter]
  UserEntity User { get; set; }
  [Parameter]
  public int? SelectedCardId { get; set; }
  int? After => cards.SkipWhile(x => x.Id != SelectedCardId).Skip(1).FirstOrDefault()?.Id;
  int? Before => cards.TakeWhile(x => x.Id != SelectedCardId).LastOrDefault()?.Id; // https://stackoverflow.com/a/10600012
  SearchCommand query = new SearchCommand { Query = "" };

  protected override async Task OnInitializedAsync() {
    await PageChanged(1);
  }

  async Task PageChanged(int pageNumber) {
    var pagedList = await SanitizeCardRepository.SearchAsync(Service, User?.Id ?? 0, pageNumber, query);
    details = pagedList.Details;
    cards = pagedList.Results.ToList();
  }

}
