@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Legacy
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using CardOverflow.Server.Data
@inject DbExecutor DbExecutor
@inject IToastService ToastService

<div>
  Used by <span class="badge badge-success">@Card.Summary.Users</span>
  @if (User == null) {
    <p>Log in to Get</p>
  } else {
    @if (Card.IsAnyAcquired) {
      <button class="btn btn-outline-danger" @onclick=@(() => _modal.Show())>
        Discard
      </button>
      @if (AcquiredCard.CardState.IsSuspended) {
        <button class="btn btn-outline-primary" @onclick=@(() => _editState(CardState.Normal))>
          Unsuspend
        </button>
      } else {
        <button class="btn btn-outline-primary" @onclick=@(() => _editState(CardState.Suspended))>
          Suspend
        </button>
      }
    } else {
      <button class="btn btn-primary" @onclick=@_acquire>
        Collect
      </button>
    }
  }
</div>

<BSModal @ref=_modal>
  <BSModalHeader>
    Are you sure you want to discard?
  </BSModalHeader>
  <BSModalBody>
    <div>
      Discarding a card will delete all all of it's associated Tags, Relationships, and History. Are you sure you want to discard?
    </div>
    <div class="small">
      <em>Suspending will preserve the above data and prevent the card from appearing when you Study.</em>
    </div>
  </BSModalBody>
  <BSModalFooter >
    <div>
      <BSButton Color="Color.Secondary" OnClick=_modal.Hide type="button">
        Cancel
      </BSButton>
      <BSButton Color="Color.Danger" @onclick=@_discard>
        Discard
      </BSButton>
    </div>
  </BSModalFooter>
</BSModal>

@code {
  [CascadingParameter] UserEntity User { get; set; }
  [Parameter] public CardOverflow.Pure.ExploreCard Card { get; set; }
  [Parameter] public AcquiredCard AcquiredCard { get; set; }
  [Parameter] public EventCallback<CardOverflow.Pure.ExploreCard> UpdateCard { get; set; }
  [Parameter] public EventCallback<AcquiredCard> UpdateAcquiredCard { get; set; }
  private BSModal _modal;

  private async Task _acquire() {
    await DbExecutor.QueryAsync(db => CardRepository.AcquireCardAsync(db, User.Id, Card.Instance.Id));
    var ac = await DbExecutor.QueryAsync(db => CardRepository.GetAcquired(db, User.Id, Card.Id));
    if (ac.IsOk) {
      AcquiredCard = ac.ResultValue;
      Card.Instance.IsAcquired = true;
      Card.Summary.Users++;
      await UpdateAcquiredCard.InvokeAsync(AcquiredCard);
      await UpdateCard.InvokeAsync(Card);
    } else {
      ToastService.ShowError(ac.ErrorValue);
    }
  }

  private async Task _discard() {
    var x = await DbExecutor.QueryAsync(db => CardRepository.deleteAcquired(db, User.Id, AcquiredCard.AcquiredCardId));
    if (x.IsOk) {
      Card.Instance.IsAcquired = false;
      Card.Summary.Users--;
      AcquiredCard = null;
      await UpdateAcquiredCard.InvokeAsync(AcquiredCard);
      await UpdateCard.InvokeAsync(Card);
    } else {
      ToastService.ShowError(x.ErrorValue);
    }
    _modal.Hide();
  }

  private async Task _editState(CardState state) {
    var x = await DbExecutor.QueryAsync(db => CardRepository.editState(db, User.Id, AcquiredCard.AcquiredCardId, state));
    if (x.IsOk) {
      AcquiredCard.CardState = state;
      if (state.IsSuspended) {
        Card.Summary.Users--;
      } else {
        Card.Summary.Users++;
      }
    } else {
      ToastService.ShowError(x.ErrorValue);
    }
  }

}
