@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using CardOverflow.Server.Data
@inject DbExecutor DbExecutor
@inject IToastService ToastService
@inject UserContentHttpClient UserContentHttpClient
@inject TimeProvider TimeProvider

<div class="d-flex justify-content-between align-items-center">
  <ExploreCardState Stack=@Stack UpdateStack=@UpdateStack />
  <div>
    By @(_branch.Author)
    @if (_branch.AuthorId == User?.Id) {
      <a href="branch/@_branch.Id/edit" title="Edit">
        <span class="oi oi-pencil" />
      </a>
    }
    <a href="curate/card/copy/@Instance.Id" title="Edit a Copy">
      <span class="fas fa-copy" />
    </a>
    <a href="/branch/@_branch.Id/revision" title="Revisions">
      <i class="fas fa-history"></i>
    </a>
    @if (Instance.IsLatest) {
      <span class="fas fa-sync text-success" title="Up to date" />
    } else {
      <a href="carddiff/@Instance.Id">
        <span class="fas fa-sync text-danger" title="Out of date" />
      </a>
    }
  </div>
</div>

@code {
  [CascadingParameter] UserEntity User { get; set; }
  [Parameter] public BranchInstanceMeta Instance { get; set; }
  [Parameter] public CardOverflow.Pure.ExploreStack Stack { get; set; }
  [Parameter] public EventCallback<CardOverflow.Pure.ExploreStack> UpdateStack { get; set; }
  private Branch _branch => Stack.Branches.Single(b => b.Id == Instance.BranchId);

}
