@page "/Explore"
@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@inject CardOverflowDb Db

@if (cards == null) {
  <p><em>Loading...</em></p>
} else {
  <div>
    <table class="table">
      <tr>
        <th>Preview</th>
        <th>Users</th>
        <th>Name</th>
      </tr>
      @foreach (var card in cards) {
        <tr>
          <td>
            <div class="curate-tooltip-target">
              Preview
              <div class="curate-tooltip-content">
                <div>@card.Description</div>
                @* https://stackoverflow.com/questions/19739001/which-is-the-difference-between-srcdoc-and-src-datatext-html-in-an/ *@
                <iframe sandbox allow-scripts class="curate-iframe-tooltip" srcdoc="@card.LatestInstance.FrontBackFrontSynthBackSynth.Item1"></iframe>
              </div>
            </div>
          </td>
          <td>
            @card.Users
          </td>
          <td>
            <a href="card/@card.Id">
              @MappingTools.stripHtmlTags(card.LatestInstance.FrontBackFrontSynthBackSynth.Item1)
            </a>
          </td>
        </tr>
      }
    </table>
    <Pager Details=@details PageChanged=@PageChanged />
  </div>
}

@code {
  IList<CardOverflow.Pure.ExploreCard> cards;
  PagedListDetails details;
  [CascadingParameter]
  UserEntity User { get; set; }

  protected override async Task OnInitAsync() {
    await PageChanged(1);
  }

  void CardClick(int cardId) {
    var clickedCard = cards.First(x => x.Id == cardId);
    StateHasChanged();
  }

  async Task PageChanged(int pageNumber) {
    var pagedList = await CardRepository.GetAsync(Db, User?.Id ?? 0, pageNumber);
    details = pagedList.Details;
    cards = pagedList.Results.ToList();
  }

}
