@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

.code {
  font-family: monospace;
}

.cursor-pointer {
  cursor: pointer;
}

/* based on https://codepen.io/anthonyLukes/pen/DLBeE if trying something different maybe https://jsfiddle.net/przemcio/xLhLuzf9/3/ will work*/
.study-content {
  flex: 1 1 auto;
  overflow-y: auto;
}

.study-footer {
  flex: 0 0 auto;
}

.study-iframe {
  width: 100%;
  height: 90%; /* minus 10 pts to hide scrollbar, lowTODO make this less stupid */
}

.btn-study {
  margin: 3px
}

  .btn-study:focus {
    outline: 3px solid black
  }

.curate-edit-inputtextarea {
  width: 100%;
  height: 107px; /* hack */
}

.concept-iframe {
  width: 100%;
  height: 600px; /* lowTODO get the height to match the contents - there's some javascript involved :( */
}

.curate-iframe {
  width: 100%;
  height: 600px; /* lowTODO get the height to match the contents - there's some javascript involved :( */
}

.curate-iframe-tooltip {
  width: 100%;
  height: 200px; /* lowTODO get the height to match the contents - there's some javascript involved :( */
}

.curate-tooltip-target {
  /*border-bottom: 1px dotted black;*/
}

  .curate-tooltip-target .curate-tooltip-content {
    background-color: white;
    border: solid;
    visibility: hidden;
    width: 84%; /* hack */
    position: absolute;
    z-index: 1;
  }

  .curate-tooltip-target:hover .curate-tooltip-content {
    visibility: visible;
    z-index: 102; /* puts it over the toolbar of Syncfusion's rich text editor on the edit page */
  }

a, .btn-link {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

app {
  position: relative;
  display: flex;
  flex-direction: column;
}

.top-row {
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.main {
  flex: 1;
}

  .main .top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
  }

    .main .top-row > a {
      margin-left: 1.5rem;
    }

.sidebar {
  background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

  .sidebar .top-row {
    background-color: rgba(0,0,0,0.4);
  }

  .sidebar .navbar-brand {
    font-size: 1.1rem;
  }

  .sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
  }

.sidebarnav-item {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

  .sidebarnav-item:first-of-type {
    padding-top: 1rem;
  }

  .sidebarnav-item:last-of-type {
    padding-bottom: 1rem;
  }

  .sidebarnav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
  }

    .sidebarnav-item a.active {
      background-color: rgba(255,255,255,0.25);
      color: white;
    }

    .sidebarnav-item a:hover {
      background-color: rgba(255,255,255,0.1);
      color: white;
    }

.content {
  padding-top: 1.1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
  outline: 1px solid #26b050;
}

.invalid {
  outline: 1px solid red;
}

.validation-message {
  color: red;
}

@media (max-width: 767.98px) {
  .main .top-row {
    display: none;
  }
}

@media (min-width: 768px) {
  app {
    flex-direction: row;
  }

  .sidebar {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .main .top-row {
    position: sticky;
    top: 0;
  }

  .main > div {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }

  .navbar-toggler {
    display: none;
  }

  .sidebar .collapse {
    /* Never collapse the sidebar for wide screens */
    display: block;
  }
}

.btn-outline-collected {
  border-color: #28a745
}

  .btn-outline-collected:hover:enabled {
    border-color: #dc3545
  }

  .btn-outline-collected.focus,
  .btn-outline-collected:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 .2rem rgba(225, 83, 97, .5)
  }

.btn-outline-uncollected {
  border-color: #cccccc
}

  .btn-outline-uncollected:hover:enabled {
    border-color: #28a745
  }

  .btn-outline-uncollected.focus,
  .btn-outline-uncollected:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5)
  }

.btn-uncollect-card {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745
}

  .btn-uncollect-card .users {
    color: black;
    z-index: 1;
    transform: translate(0rem, -.4rem);
    margin-bottom: -.4rem;
  }

  .btn-uncollect-card:hover:enabled {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130
  }

  .btn-uncollect-card.focus,
  .btn-uncollect-card:focus {
    box-shadow: 0 0 0 .2rem rgba(225, 83, 97, .5)
  }

  .btn-uncollect-card.disabled,
  .btn-uncollect-card:disabled {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545
  }

  .btn-uncollect-card:not(:disabled):not(.disabled).active,
  .btn-uncollect-card:not(:disabled):not(.disabled):active,
  .show > .btn-uncollect-card.dropdown-toggle {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d
  }

    .btn-uncollect-card:not(:disabled):not(.disabled).active:focus,
    .btn-uncollect-card:not(:disabled):not(.disabled):active:focus,
    .show > .btn-uncollect-card.dropdown-toggle:focus {
      box-shadow: 0 0 0 .2rem rgba(225, 83, 97, .5)
    }



.btn-collect-card {
}

  .btn-collect-card .users {
    color: white;
    z-index: 1;
    transform: translate(0rem, -.4rem);
    margin-bottom: -.4rem;
  }

  .btn-collect-card:hover:enabled .users {
    color: black;
  }

  .btn-collect-card:hover:enabled {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34
  }

  .btn-collect-card.focus,
  .btn-collect-card:focus {
    box-shadow: 0 0 0 .2rem rgba(72, 180, 97, .5)
  }

  .btn-collect-card.disabled,
  .btn-collect-card:disabled {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745
  }

  .btn-collect-card:not(:disabled):not(.disabled).active,
  .btn-collect-card:not(:disabled):not(.disabled):active,
  .show > .btn-collect-card.dropdown-toggle {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430
  }

    .btn-collect-card:not(:disabled):not(.disabled).active:focus,
    .btn-collect-card:not(:disabled):not(.disabled):active:focus,
    .show > .btn-collect-card.dropdown-toggle:focus {
      box-shadow: 0 0 0 .2rem rgba(72, 180, 97, .5)
    }

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

  #blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
  }
