@page "/study"
@attribute [Authorize]
@using Microsoft.FSharp.Core
@using Microsoft.FSharp.Collections
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using CardOverflow.Server.Shared
@inject DbExecutor DbExecutor
@inject Scheduler Scheduler
@inject TimeProvider TimeProvider
@inject IJSRuntime Js
@inject IToastService ToastService

@if (_selectedDeck == null) {
  <div class="container">
    <Heatmap />
    <table class="table">
      <tr>
        <th></th>
        <th>Due</th>
      </tr>
      @foreach (var deck in _decks) {
        <tr>
          <td>
            <button @onclick=@(() => _selectedDeck = deck) class="btn btn-link">
              @deck.Name
            </button>
          </td>
          <td>
            @deck.DueCount
          </td>
        </tr>
      }
    </table>
  </div>
} else {
  <Study_Detail DeckId=@_selectedDeck.Id />
}

@code {
  [CascadingParameter] Task<UserClaims> UserTask { get; set; }
  private FSharpList<ViewDeck> _decks = FSharpList<ViewDeck>.Empty;
  private ViewDeck _selectedDeck;

  protected override async Task OnInitializedAsync() {
    var user = await UserTask;
    _decks = await DbExecutor.QueryAsync(db => SanitizeDeckRepository.get(db, user.Id, TimeProvider.utcNow));
  }

}
